@import "base.sass"
.auction
    padding: 120px 0

    
    @media screen and ( max-width: $tabletM )
        padding: 80px 0
    @media screen and ( max-width: $mobileL )
        padding: 64px 0
        h2
            margin-bottom: 36px

    &__content
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        align-items: center 
        @media screen and ( max-width: $tabletM )
            display: flex
            &>svg
                display: none
                
    .empty
        width: 8px
        @media screen and ( max-width: $tabletM )
            display: none
        
    
    
.auctions
    margin: auto
    display: flex
    flex-direction: column
    grid-gap: 34px
    width: 100%

    &__desc
        display: flex
        justify-content: space-between
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.045em;
        color: $white-op50

        @media screen and ( max-width: $mobileM )
            flex-direction: column
            grid-gap: 3px
            
 
    &__item
        width: 1115px
        height: fit-content
        @media screen and ( max-width: $desktopS)
            width: 1064px
        @media screen and ( max-width: $tabletM )
            width: 100%
            

    &__content
        margin-top: 10px
        width: 100%
        display: flex
        grid-gap: 0 30px
        position: relative
        border: 1px solid white

        @media screen and ( max-width: $tabletM )
            display: grid
            grid-template-columns: 1fr 6fr

        @media screen and ( max-width: $mobileL )
            grid-template-columns: 53% 47%;
            grid-gap: 0
        @media screen and ( max-width: $mobileM )
            display: flex
            flex-direction: column

            
            
            
            


    picture
        overflow: hidden
        width: 310px
        @media screen and ( max-width: $tabletM )
            grid-column: 1/2
            grid-row: 1/2
        @media screen and ( max-width: $tabletS )
            width: 300px
        @media screen and ( max-width: $mobileL )
            height: 100%
            width: auto
        @media screen and ( max-width: $mobileM )
            height: 230px
        @media screen and ( max-width: $mobileM )
            height: 200px
        img
            min-height: 100%
            min-width: 100%;

    &__brand
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.045em;
        @media screen and ( max-width: $tabletS)
            line-height: 120%;
            

    &__model
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.045em;
        color: $white-op50
        display: flex
        align-items: center
        @media screen and ( max-width: $tabletS)
            line-height: 120%;
            &::before
                display: none
        @media screen and ( max-width: $mobileL)
            &::before
                display: block
        @media screen and ( max-width: $mobileM)
            &::before
                display: none



    &__model::before
        content: ""
        display: inline-block
        width: 4px
        height: 4px
        background: $white-op50
        border-radius: 50%
        margin-right: 10px


    &__info
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.045em;
        padding: 25px 0

        @media screen and ( max-width: $tabletM )
            grid-column: 2/3
            grid-row: 1/2
        @media screen and ( max-width: $tabletS )
            font-size: 12px;
            line-height: 170%;
        @media screen and ( max-width: $mobileL )
            grid-column: 1/2
            grid-row: 2/3
            padding: 20px 0 20px 20px
        @media screen and ( max-width: $mobileM )
            padding-bottom: 0





        &-item:nth-child(1)
            font-family: Montserrat
            margin-bottom: 15px
            grid-gap: 0

            @media screen and ( max-width: $tabletS )
                display: flex
                flex-direction: column
            @media screen and ( max-width: $mobileL )
                flex-direction: row
                grid-gap: 10px
            @media screen and ( max-width: $mobileM )
                flex-direction: column
                grid-gap: 0


                

        &-item
            display: flex
            grid-gap: 10px

        &-property
            width: 7ch
           
        &-value
            font-weight: bold

    &__notes
        border: 1px solid white
        position: absolute
        height: fit-content
        width: 332px
        top: 0
        right: 0
        @media screen and ( max-width: $tabletM )
            bottom: 60px
            top: unset
            border: 1px solid white
            border-bottom: 0
        @media screen and ( max-width: $tabletS)
            grid-column: 1/3
            grid-row: 2/3
            position: static
            display: grid
            grid-template-columns: 1fr 1fr
            width: 100%
        @media screen and ( max-width: $mobileL )
            margin-top: 8px
            color: $grey-185
            place-self: center
            grid-column: 2/3
            grid-row: 2/3
            display: flex
            flex-direction: column
            border: none
            padding-right: 20px
            *
                padding-right: 0
                padding-left: 0
            &-text
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 0.03em;
                width: 250px;

            &-sign
                display: none
            *
                border: none
        @media screen and ( max-width: $mobileM )
            padding-left: 20px
            margin-bottom: 0px;
            &-text
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 0.02em;
                width: 250px;

            
        &-item
            border-bottom: 1px solid $white-op15
            display: flex
            align-items: center
            padding: 11px 21px
            grid-gap: 20px
            @media screen and ( max-width: $tabletS)
                border-right: 1px solid $white-op50
                &:last-child
                    border: none
            @media screen and ( max-width: $mobileL)
                padding-top: 3px
                padding-bottom: 3px


        &-text
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.045em;
            padding-left: 8px
            border-left: 1px solid $white-op15


    &__price
        position: absolute
        bottom: 0
        right: 0
        background: white
        display: flex
        align-items: center
        position: absolute
        height: 55px
        grid-gap: 29px
        padding: 8px 30px
        
        
        @media screen and ( max-width: $tabletM )
            grid-column: 1/3
            grid-row: 2/3
            position: relative
            justify-content: center
            height: 60px
            grid-gap: 42px
        @media screen and ( max-width: $tabletS )
            grid-row: 3/4

        @media screen and ( max-width: $mobileL )
            padding: 0
            padding-top: 12px
            grid-column: 2/3
            grid-row: 1/2
            height: 100%
            flex-direction: column
            grid-gap: 12px
            justify-content: end
            svg
                display: none

        @media screen and ( max-width: $mobileM )
            padding-top: 14px
            grid-gap: 10px
            margin-top: 10px






    &__cost
        padding-right: 1px solid
        @media screen and ( max-width: $mobileL )
            padding-left: 20px
            place-self: start
        @media screen and ( max-width: $mobileM )
            width: 100%
            padding: 0 20px
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr
            &-down
                grid-column: 1/2
                place-self: center start
                width: 10ch
                grid-row: 1/2

            &-up
                grid-column: 2/3
                place-self: end
                font-size: 18px



        &-up
            font-family: Montserrat;
            color: $red-dark
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: 0.043em
        &-down
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.03em;
            color: $black-op50

    a
        color: black
        text-decoration: none
    @media screen and ( max-width: $mobileL )
        &__action
            padding: 20px 0
            text-align: center
            border-top: 1px solid $grey-179
            width: 100%
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.04em;

            

    &__background
        position: absolute
        font-weight: bold;
        font-size: 110px;
        line-height: 86%;
        text-align: right;
        letter-spacing: 0.045em;
        font-family: Montserrat;
        bottom: 47px
        right: 0
        color: $white-op03
        @media screen and ( max-width: $tabletM )
            display: none

    &__watch-more
        display: flex
        grid-gap: 10px
        justify-content: center
        place-items: center
        box-sizing: border-box
        color: $white-op50 !important
        width: 100%
        text-align: center
        border-top: 1px solid $white-op50
        border-bottom: 1px solid $white-op50
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.04em;
        padding: 20px
        cursor: pointer