@import "base.sass"
.auction
    padding: 120px 0

    @media screen and ( max-width: $tabletM )
        padding: 80px 0
    @media screen and ( max-width: $mobileL )
        padding: 64px 0
        h2
            margin-bottom: 36px

    &__content
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        align-items: center
        @media screen and ( max-width: $tabletM )
            display: flex
            &>svg
                display: none

    .empty
        width: 8px
        @media screen and ( max-width: $tabletM )
            display: none

.auctions
    margin: auto
    display: flex
    // flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
    grid-gap: 34px
    width: 100%

    &__desc
        display: flex
        justify-content: space-between
        font-size: 12px
        line-height: 14px
        letter-spacing: 0.045em
        color: $white-op50
        @media screen and ( max-width: $tabletM )
            justify-content: center

        @media screen and ( max-width: $mobileM )
            flex-direction: column
            grid-gap: 3px

    &__item
        width: 100%
        height: fit-content
        @media screen and ( max-width: $tabletM )
            width: 100%
            max-width: 360px

    &__content
        margin-top: 10px
        width: 100%
        display: flex
        grid-gap: 0 30px
        position: relative
        border: 1px solid white

        &-pictures
            width: 360px
            .slick-arrow::before
                background: radial-gradient(#fff8, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0))
                display: inline-block
                height: 60px
                padding: 0 5px
            .slick-next
                right: 15px !important
                z-index: 10
                &::before
                    content: url(../img/arrow.svg)
                    height: 52px

            .slick-prev
                left: 15px !important
                z-index: 10
                &::before
                    content: url(../img/arrow-left.svg)
                    height: 52px

            @media screen and ( min-width: $tabletM )
                margin: 0 !important

                .slick-list
                    height: 100% !important
                    *
                        height: 100% !important
                .slick-dots
                    position: absolute
                    bottom: 15px
            @media screen and ( max-width: $tabletM )
                width: 100%

        // @media screen and ( max-width: $tabletM )
        //     display: grid
        //     grid-template-columns: 1fr 6fr

        // @media screen and ( max-width: $mobileL )
        //     grid-template-columns: 53% 47%;
        //     grid-gap: 0
        @media screen and ( max-width: $tabletM )
            display: flex
            flex-direction: column

    picture
        overflow: hidden
        width: 310px
        @media screen and ( max-width: $tabletM )
            grid-column: 1/2
            grid-row: 1/2
            width: 100%
            *
                width: 100%
        img
            min-height: 100%
            min-width: 100%

    &__brand
        font-weight: bold
        font-size: 20px
        line-height: 130%
        letter-spacing: 0.045em
        @media screen and ( max-width: $tabletS)
            line-height: 120%

    &__model
        font-size: 20px
        line-height: 130%
        letter-spacing: 0.045em
        color: $white-op50
        display: flex
        align-items: center
        @media screen and ( max-width: $tabletS)
            line-height: 120%
            &::before
                display: none
        @media screen and ( max-width: $mobileL)
            &::before
                display: block
        @media screen and ( max-width: $mobileM)
            &::before
                display: none

    &__model::before
        content: ""
        display: inline-block
        width: 4px
        height: 4px
        background: $white-op50
        border-radius: 50%
        margin-right: 10px

    &__info
        font-size: 14px
        line-height: 180%
        letter-spacing: 0.045em
        display: flex
        flex-direction: column
        flex-wrap: wrap
        gap: 0 100px
        width: 100%
        @media screen and ( max-width: 1200px )
            gap: 0 4vw
        @media screen and ( min-width: $tabletM )
            max-height: 120px

        @media screen and ( max-width: $tabletM )
            grid-column: 2/3
            grid-row: 1/2
            font-size: 13px
            line-height: 170%
            grid-column: 1/2
            grid-row: 2/3
            padding-bottom: 0

        &-wrap
            padding: 25px 0 0px
            position: relative
            height: auto
            padding-bottom: 70px
            width: 100%
            &>*:nth-child(1)
                font-family: Montserrat
                margin-bottom: 15px
                grid-gap: 0

                @media screen and ( max-width: $tabletS )
                    display: flex
                    flex-direction: column
                    flex-direction: row
                    grid-gap: 10px
                    flex-direction: column
                    grid-gap: 0

            @media screen and ( max-width: $tabletM )
                padding: 10px 0 20px 20px

        &-item
            display: grid
            grid-auto-columns: 1fr 1.5fr
            width: auto
            grid-gap: 20px
            @media screen and ( max-width: $tabletM )
                &:nth-child(n+8)
                    display: none

        &-property
            grid-column: 1/2

        &-value
            font-weight: bold
            grid-column: 2/3

    &__notes
        position: absolute
        height: fit-content
        // top: 0
        // right: 0
        bottom: 0
        left: -18px
        display: flex
        border: none !important
        &-text
            display: none

        @media screen and ( max-width: $tabletM )
            // display: none
            right: -10px
            bottom: 20px
            left: unset
            gap: 12px
            flex-direction: column
            width: fit-content
        @media screen and ( max-width: $mobileM )
            padding-left: 20px
            margin-bottom: 0px
            &-text
                font-size: 12px
                line-height: 120%
                letter-spacing: 0.02em
                width: 250px
                left: unset !important
                right: 0px !important

        &-item
            display: flex
            align-items: center
            padding: 11px 21px
            grid-gap: 20px
            border: none !important
            position:

            &:hover
                .auctions__notes-text
                    position: absolute
                    bottom: 40px
                    left: -20px
                    background: white
                    display: block
                    border: 1px solid $grey-153
                    width: 250px
                    padding: 10px 13px
                    border-radius: 5px

            @media screen and ( max-width: $tabletS)
                border-right: 1px solid $white-op50
                &:last-child
                    border: none
            @media screen and ( max-width: $mobileL)
                padding-top: 3px
                padding-bottom: 3px

        &-text
            font-size: 12px
            line-height: 14px
            letter-spacing: 0.045em
            padding-left: 8px
            border-left: 1px solid $white-op15

    &__price
        position: absolute
        bottom: 0
        right: 0
        background: white
        display: flex
        align-items: center
        position: absolute
        height: 55px
        grid-gap: 29px
        padding: 8px 30px

        @media screen and ( max-width: $tabletM )
            border: none !important
            position: relative
            justify-content: center
            grid-gap: 42px
            padding: 0
            padding-top: 12px
            grid-column: 2/3
            grid-row: 1/2
            height: 100%
            flex-direction: column
            grid-gap: 12px
            justify-content: end

            padding-top: 14px
            grid-gap: 10px
            margin-top: 0px
            svg
                display: none

    &__cost

        padding-right: 1px solid
        @media screen and ( max-width: $mobileL )
            padding-left: 20px
            place-self: start
        @media screen and ( max-width: 1100px ) and ( min-width: $tabletM)
            &:first-child
                display: none
                &+svg
                    display: none
        @media screen and ( max-width: $tabletM )
            width: 100%
            // padding: 0 20px
            display: grid
            grid-template-columns: 1fr 1.5fr
            gap: 10px

            &-down
                grid-column: 1/2
                place-self: center start
                // width: 17ch
                grid-row: 1/2
                // display: none
                font-size: 13px
                line-height: 130%

            &-up
                grid-column: 2/3

                place-self: center start
                font-size: 18px

        &-up
            font-family: Montserrat
            color: $red-dark
            font-weight: bold
            font-size: 20px
            line-height: 130%
            letter-spacing: 0.043em
        &-down
            font-size: 10px
            line-height: 12px
            letter-spacing: 0.03em
            color: $black-op50

    a
        color: black
        text-decoration: none
    @media screen and ( max-width: $tabletM )
        &__action
            padding: 20px 0
            text-align: center
            border-top: 1px solid $grey-179
            width: 100%
            font-size: 16px
            line-height: 19px
            letter-spacing: 0.04em

    &__background
        position: absolute
        font-weight: bold
        font-size: 110px
        line-height: 86%
        text-align: right
        letter-spacing: 0.045em
        font-family: Montserrat
        bottom: 47px
        right: 0
        color: $white-op03
        @media screen and ( max-width: $tabletM )
            display: none

    &__watch-more
        display: flex
        grid-gap: 10px
        justify-content: center
        place-items: center
        box-sizing: border-box
        color: $white-op50 !important
        width: 100%
        text-align: center
        border-top: 1px solid $white-op50
        border-bottom: 1px solid $white-op50
        font-size: 15px
        line-height: 18px
        letter-spacing: 0.04em
        padding: 20px
        cursor: pointer
