@import "base.sass"
.auction
    padding: 120px
    
.auctions
    margin: auto
    width: fit-content

    &__desc
        display: flex
        justify-content: space-between
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.045em;
        color: $white-op50
 
    &__item
        width: 1115px
        height: fit-content

    &__content
        margin-top: 10px
        width: 1115px
        display: flex
        gap: 30px
        position: relative
        border: 1px solid white
        height: 216px


    picture img
        height: 216px

    &__brand
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.045em;

    &__model
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.045em;
        color: $white-op50
        display: flex
        align-items: center

    &__model::before
        content: ""
        display: inline-block
        width: 4px
        height: 4px
        background: $white-op50
        border-radius: 50%
        margin-right: 10px


    &__info
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.045em;
        padding: 25px 0
        &-item:nth-child(1)
            font-family: Montserrat
            margin-bottom: 15px
                

        &-item
            display: flex
            gap: 10px

        &-property
            width: 7ch

        &__value
            font-weight: bold

    &__notes
        border: 1px solid white
        position: absolute
        height: fit-content
        width: 332px
        top: 0
        right: 0
        &-item
            border-bottom: 1px solid $white-op15
            display: flex
            align-items: center
            padding: 11px 21px
            gap: 20px

        &-text
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.045em;
            padding-left: 8px
            border-left: 1px solid $white-op15


    &__price
        position: absolute
        bottom: 0
        right: 0
        background: white
        display: flex
        align-items: center
        position: absolute
        height: 54px
        gap: 29px
        padding: 8px 30px
    &__cost
        padding-right: 1px solid
        &-up
            font-family: Montserrat;
            color: $red-dark
            font-weight: bold;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: 0.043em
        &-down
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.03em;
            color: $black-op50
    a
        color: black
        text-decoration: none

    &__background
        position: absolute
        font-weight: bold;
        font-size: 110px;
        line-height: 86%;
        text-align: right;
        letter-spacing: 0.045em;
        font-family: Montserrat;
        bottom: 55px
        right: 0
        color: $white-op03

        