@import "base"
.not-visible
    display: none !important

.main-filter
    margin-top: 60px
    @media screen and (max-width: $desktopS)
        margin-top: 50px
    @media screen and (max-width: $mobileL)
        margin-top: 40px

    .choices__inner

        background: none
        border: none
        border-radius: 0
        border-bottom: 1px solid $black-21
        .choices__item
            font-size: 19px !important
            line-height: 19px !important

    #main-filter__select
        &:focus-visible
            outline: none

    &__category
        // border: 1px solid $grey-153

        width: inherit
        display: grid
        padding: 12px 0 15px !important
        place-items: center
        transition: .3s
        border-bottom: none !important
        border-radius: 10px 10px 0 0
        font-size: 19px !important
        &:hover
            padding: 8px 0 19px !important
            box-shadow: 0 -12px 12px rgba(0,0,0,.03)
            // padding: 20px 0 20px !important

        &.active

            background: $red-dark
            color: white
            &:hover
                padding: 15px 0 17px !important

    &__categories
        &-tabs
            // margin-bottom: 25px
            display: flex
            // gap: 15px
            justify-content: space-between
            width: 100% !important
        &-select
            @media screen and (min-width: 0)
                margin-bottom: 25px
            @media screen and (min-width: $mobileL)
                margin-bottom: 25px
            @media screen and (min-width: $tabletS)
                margin-bottom: 28px

    &__lists
        position: relative
        padding: 20px 20px 15px
        box-shadow: 0 10px 10px rgba(0,0,0,.2)
        border-radius: 0 0 5px 5px
        // border: 1px solid $black-21
        display: grid
        @media screen and (min-width: 0)
            margin-bottom: 40px
        @media screen and (min-width: $tabletS)
            margin-bottom: 48px
        @media screen and (max-width: $desktopS)
            margin-bottom: 40px
            padding: 20px
            box-shadow: 0 6px 12px rgba(0,0,0,.2)

        @media screen and (min-width: $desktopS)
            // grid-template-columns: 120px 135px 120px 120px 153px 120px 166px
            column-gap: 68px

        & > ul
            @media screen and (min-width: 0)
                display: none
                &.active
                    max-width: 100% !important
                    margin: 0 auto
                    display: flex
                    flex-direction: column
                    grid-gap: 24px

            @media screen and (min-width: $mobileS)
                &.active
                    width: 100%
                    margin: 0 auto
                    display: grid
                    grid-auto-flow: column
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr
                    row-gap: 24px
            @media screen and (min-width: $mobileL)
                &.active
                    width: 488px
            @media screen and (min-width: $tabletS)
                &.active
                    width: 656px
                    grid-template-columns: 1fr 1fr 1fr
                    grid-template-rows: 1fr 1fr 1fr 1fr
                    column-gap: 113px
                    row-gap: 24px
            @media screen and (min-width: $desktopS)
                &.active
                    display: flex
                    justify-content: space-between
                    flex-direction: row
                    gap: 5px
                    width: 100%
            //     display: block
            //     &.active
            //         display: block
            //         width: auto

            & > li
                letter-spacing: 0.045em
                @media screen and (min-width: 0)
                    font-size: 14px
                    line-height: 16px
                @media screen and (min-width: $desktopS)
                    margin-bottom: 14px
                    font-size: 13px
                    line-height: 15px

                & > a
                    color: black
                    text-decoration: none

                    &:hover
                        text-decoration: underline

    &__filter
        @media screen and (min-width: 0)
            display: none
            background: white
            width: 100vw

        @media screen and (min-width: $tabletM)
            display: block
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2)
            margin-bottom: 80px
            width: 100%

        @media screen and ( max-width: $tabletM )

            min-height: 100vh
        @media screen and (min-width: $tabletS)

            input[type="text"]
                padding-top: 16px !important
                align-self: end

        @media screen and (min-width: 1250px)
            display: grid
            grid-template-columns: 2fr 1fr
            margin-bottom: 100px
        @media screen and (min-width: $desktopM)
            margin-bottom: 120px

        &.active
            display: block !important
            position: absolute
            z-index: 10000
            top: 0
            left: 0

        .choices__list--dropdown
            .choices__item[data-value="placeholder"]
                display: none

        .choices
            margin: 0

        .filter

            &__top
                width: 100%
                display: flex
                justify-content: space-between
                grid-column: 1/3
                background-color: rgba(248, 248, 248, 1)
                @media screen and (min-width: 0)
                    padding: 21px 30px
                @media screen and (min-width: $mobileM)
                    padding: 24px 32px
                @media screen and (min-width: $mobileL)
                    padding: 20px 40px
                @media screen and (min-width: $tabletS)
                    padding: 28px 56px
                @media screen and (min-width: $tabletM)
                    display: none

                & > h2
                    text-align: left
                    margin: 0

                & > button
                    background: none
                    border: none

            &__left

                @media screen and (min-width: 0)
                    padding: 50px 30px 0
                    border-bottom: 1px solid rgba(21, 2, 2, 0.06)
                @media screen and (min-width: $mobileM)
                    padding: 52px 32px 0
                @media screen and (min-width: $mobileL)
                    padding: 52px 40px 0
                @media screen and (min-width: $tabletS)
                    display: grid
                    grid-template-columns: 1fr 1fr
                    //grid-template-rows: 1fr 1fr 1fr 1fr 1fr
                    padding: 0

                & > div

                    @media screen and (min-width: 0)
                        margin-bottom: 50px
                    @media screen and (min-width: $mobileM)
                        margin-bottom: 52px
                    @media screen and (min-width: $tabletS)
                        margin-bottom: 0
                        padding: 50px 39px
                        border-bottom: 1px solid rgba(21, 2, 2, 0.06)
                    @media screen and (min-width: $tabletM)
                        padding: 50px 74px
                    @media screen and (min-width: 1250px)
                        padding: 45px 53px 55px !important
                        height: fit-content
                        border-right: 1px solid rgba(21, 2, 2, 0.06)
                    @media screen and (min-width: $desktopM)
                        padding: 50px 77px

                    &:nth-child(2n-1)
                        @media screen and (min-width: $tabletS)
                            padding: 50px 39px
                            border-right: 1px solid rgba(21, 2, 2, 0.06)
                        @media screen and (min-width: $tabletM)
                            padding: 50px 74px
                        @media screen and (min-width: 1250px)
                            padding: 50px 52px
                        @media screen and (min-width: $desktopM)
                            padding: 50px 77px 50px 60px

                    & > label
                        font-size: 10px
                        line-height: 12px
                        letter-spacing: 0.03em
                        margin-bottom: 12px

            &__right
                @media screen and (min-width: $tabletS)
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr auto auto
                @media screen and (min-width: 1250px)

                    grid-template-columns: 1fr
                    grid-template-rows: unset !important
                    & > *
                        grid-column: 1/2
                        height: fit-content

                        grid-gap: 23px !important
                        padding: 50px 0

                & > div
                    display: grid
                    @media screen and (min-width: 0)
                        padding: 40px 30px
                    @media screen and (min-width: $mobileM)
                        padding: 40px 32px
                    @media screen and (min-width: $mobileL)
                        padding: 40px
                    @media screen and (min-width: $tabletS)
                        padding: 50px 39px
                        border-bottom: 1px solid rgba(21, 2, 2, 0.06)
                        &:nth-child(2n-1)
                            border-right: 1px solid rgba(21, 2, 2, 0.06)
                    @media screen and (min-width: $tabletM)
                        padding: 50px 74px
                    @media screen and (min-width: 1250px)
                        max-width: 305px
                        padding: 0
                        margin: 0 auto
                        border-bottom: none
                        &:nth-child(2n-1)
                            border-right: none

                    & > label
                        font-size: 15px
                        line-height: 18px

                    & > div
                        margin-top: 15px

                    &:last-child
                        @media screen and (min-width: $tabletS)
                            grid-column: 1/3
                            padding: 80px 82px
                        @media screen and (min-width: $tabletM)
                            padding: 50px 282px
                        @media screen and (min-width: 1250px)
                            padding: 0
                            margin-top: 0
                        @media screen and (min-width: $desktopM)
                            margin-top: 0

                & input[type=checkbox]
                    display: none

                    &:checked + label
                        background-image: url("../img/autoauction-online/checkmark.svg")
                        background-repeat: no-repeat
                        background-position: center

            &__raiting
                @media screen and (min-width: 0)
                    border-bottom: 1px solid rgba(21, 2, 2, 0.06)
                @media screen and (min-width: $tabletS)
                    border-bottom: none

                &__content
                    display: flex
                    flex-wrap: wrap
                    @media screen and (min-width: 0)
                        max-width: 300px
                        column-gap: 35px
                        row-gap: 22px
                    @media screen and (min-width: $mobileM)
                        max-width: 332px
                        column-gap: 42px
                        row-gap: 24px
                    @media screen and (min-width: $mobileL)
                        max-width: 480px
                    @media screen and (min-width: $tabletS)
                        max-width: 294px
                        column-gap: 32px
                    @media screen and (min-width: 1250px)
                        max-width: 270px
                        column-gap: 23px
                        row-gap: 15px
                    @media screen and (min-width: $desktopM)
                        max-width: 305px

                &__checkbox
                    display: flex
                    align-items: center
                    width: 45px

                & input[type=checkbox]
                    &:checked + label
                        background-color: $red-dark

                    & + label
                        display: inline-block
                        margin-right: 6px
                        width: 16px
                        height: 16px
                        border: 1px solid $grey-179
                        box-sizing: border-box

                        & + label
                            font-size: 12px
                            line-height: 14px

            &__color
                @media screen and (min-width: 0)
                    border-bottom: 1px solid rgba(21, 2, 2, 0.06)
                @media screen and (min-width: $tabletS)
                    border-bottom: none

                &__content
                    display: flex
                    flex-wrap: wrap
                    @media screen and (min-width: 0)
                        max-width: 300px
                        grid-gap: 20px
                    @media screen and (min-width: $mobileM)
                        max-width: 332px
                        column-gap: 28px
                        row-gap: 24px
                    @media screen and (min-width: $mobileL)
                        max-width: 480px
                        column-gap: 32px
                        row-gap: 20px
                    @media screen and (min-width: $tabletS)
                        max-width: 292px
                        grid-gap: 20px
                    @media screen and (min-width: 1250px)
                        max-width: 270px
                        column-gap: 16px
                        row-gap: 12px
                    @media screen and (min-width: $desktopM)
                        max-width: 305px

                &__checkbox
                    & input[type=checkbox]
                        & + label
                            display: block
                            border: 1px solid $grey-229
                            border-radius: 50%
                            @media screen and (min-width: 0)
                                width: 32px
                                height: 32px
                            @media screen and (min-width: 1250px)
                                width: 24px
                                height: 24px

                    &:nth-child(1)
                        & label
                            background-color: white

                    &:nth-child(2)
                        & label
                            background: linear-gradient(180deg, #C4C4C4 0%, #F4F4F4 92.19%)

                    &:nth-child(3)
                        & label
                            background-color: rgba(156, 156, 156, 1)

                    &:nth-child(4)
                        & label
                            background-color: black

                    &:nth-child(5)
                        & label
                            background-color: rgba(150, 75, 0, 1)

                    &:nth-child(6)
                        & label
                            background: linear-gradient(180deg, #F4BF00 0%, #FFD700 100%)

                    &:nth-child(7)
                        & label
                            background-color: rgba(244, 230, 208, 1)

                    &:nth-child(8)
                        & label
                            background-color: rgba(255, 0, 0, 1)

                    &:nth-child(9)
                        & label
                            background-color: rgba(255, 127, 9, 1)

                    &:nth-child(10)
                        & label
                            background-color: rgba(249, 240, 34, 1)

                    &:nth-child(11)
                        & label
                            background-color: rgba(0, 174, 0, 1)

                    &:nth-child(12)
                        & label
                            background-color: rgba(36, 202, 255, 1)

                    &:nth-child(13)
                        & label
                            background-color: rgba(1, 26, 248, 1)

                    &:nth-child(14)
                        & label
                            background-color: rgba(158, 0, 255, 1)

                    &:nth-child(15)
                        & label
                            background-color: rgba(212, 0, 191, 1)

                    &:nth-child(16)
                        & label
                            background-color: rgba(255, 206, 230, 1)

            &__left,
            &__right
                & select,
                & .choices__inner,
                & input
                    padding-bottom: 13px
                    border: none
                    border-radius: 0
                    border-bottom: 1px solid $black-21
                    background: white
                    @media screen and (min-width: 0)
                        font-size: 16px
                        line-height: 19px
                    @media screen and (min-width: $tabletS)
                        font-size: 15px
                        line-height: 18px

                & > div
                    & > select,
                    & .choices__inner,
                    & .choices,
                    & > input
                        @media screen and (min-width: 0)
                            width: 81vw
                        @media screen and (min-width: $mobileS)
                            width: 300px
                        @media screen and (min-width: $mobileM)
                            width: 350px
                        @media screen and (min-width: $mobileL)
                            width: 488px
                        @media screen and (min-width: $tabletS)
                            width: 288px
                        @media screen and (min-width: $tabletM)
                            width: 305px
                        @media screen and (min-width: 1250px)
                            width: 273px
                        @media screen and (min-width: $desktopM)
                            width: 305px

                        &::-webkit-input-placeholder
                            color: $black-21

                        &::-moz-placeholder
                            color: $black-21

                    & > .filter__selects
                        display: flex
                        grid-gap: 35px

                        & > select,
                        & .choices__inner,
                        & .choices
                            @media screen and (min-width: 0)
                                width: 140px
                            @media screen and (min-width: $mobileM)
                                width: 165px
                            @media screen and (min-width: $mobileL)
                                width: 234px
                            @media screen and (min-width: $tabletS)
                                width: 135px

                        & .choices__item
                            padding-right: 10px

                            &:after
                                display: none

            &__buttons
                align-self: end
                align-items: center
                @media screen and (min-width: 0)
                    display: flex !important
                    flex-direction: column
                    align-items: center
                @media screen and (min-width: $tabletS)
                    justify-content: space-between
                @media screen and (min-width: $tabletM)
                    display: flex
                    flex-direction: row
                    flex-wrap: wrap
                    justify-content: center

                & > button
                    display: flex
                    align-items: center
                    grid-gap: 8px
                    font-size: 15px
                    line-height: 18px
                    letter-spacing: 0.04em
                    border: none
                    font-family: Roboto

                & > .all-btn
                    background: none
                    color: $red-dark
                    margin-bottom: 0
                    @media screen and (min-width: 0)
                        display: block
                        margin-bottom: 20px
                    @media screen and (min-width: $tabletM)
                        margin-right: 111px
                        margin-bottom: 18px
                    @media screen and (min-width: 1250px)
                        margin-right: 42px
                    @media screen and (min-width: $desktopM)
                        margin-right: 70px

                    & > svg
                        &.closed
                            transform: rotate(180deg)

                & > .clear-btn
                    background: none
                    color: $grey-181
                    @media screen and (min-width: 0)
                        margin-bottom: 20px
                    @media screen and (min-width: $tabletM)
                        margin-right: 0
                        margin-bottom: 18px

                & > .red-btn
                    @media screen and (min-width: 0)
                        padding: 13px 68px
                    @media screen and (min-width: $mobileM)
                        padding: 16px 88px
                    @media screen and (min-width: $mobileL)
                        padding: 16px 157px
                    @media screen and (min-width: $tabletS)
                        padding: 16px 125px
                    @media screen and (min-width: $tabletM)
                        padding: 13px 89px
                    @media screen and (min-width: 1250px)
                        padding: 13px 55px
                    @media screen and (min-width: $desktopM)
                        padding: 13px 69px

        &-mobile
            display: block
            background: white
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2)
            @media screen and (min-width: 0)
                padding: 20px
                margin-bottom: 60px
            @media screen and (min-width: $mobileM)
                margin-bottom: 64px
            @media screen and (min-width: $mobileL)
                padding: 24px
            @media screen and (min-width: $tabletS)
                padding: 28px
                margin-bottom: 80px
            @media screen and (min-width: $tabletM)
                display: none

            &-top
                display: flex
                justify-content: space-between

                & > h2
                    margin-bottom: 0

                @media screen and (min-width: 0)
                    margin-bottom: 20px
                    flex-direction: column
                    align-items: center
                @media screen and (min-width: $mobileS)
                    flex-direction: row
                    margin-bottom: 24px
                    align-items: flex-start
                @media screen and (min-width: $mobileL)
                    margin-bottom: 24px
                @media screen and (min-width: $tabletS)
                    margin-bottom: 28px

                & > .red-btn
                    display: flex
                    align-items: center
                    letter-spacing: 0.045em
                    grid-gap: 16px
                    @media screen and (min-width: 0)
                        padding: 16px 25px
                        font-size: 14px
                        line-height: 17px
                        margin-bottom: 10px
                    @media screen and (min-width: $mobileS)
                        margin-bottom: 0
                    @media screen and (min-width: $mobileM)
                        padding: 18px 28px
                    @media screen and (min-width: $mobileL)
                        padding: 18px 62px
                        font-size: 16px
                        line-height: 20px
                    @media screen and (min-width: $tabletS)
                        padding: 19px 89px
                        font-size: 18px
                        line-height: 22px

                    & > svg
                        @media screen and (min-width: 0)
                            width: 22px
                            height: 22px
                        @media screen and (min-width: $mobileL)
                            width: 24px
                            height: 24px
                        @media screen and (min-width: $tabletS)
                            width: 28px
                            height: 28px

                & > p
                    text-align: right
                    @media screen and (min-width: 0)
                        font-size: 14px
                        line-height: 16px
                    @media screen and (min-width: $mobileM)
                        max-width: 108px
                        font-size: 16px
                        line-height: 18px
                    @media screen and (min-width: $mobileL)
                        max-width: 200px

                    & > span
                        font-weight: 700

            &-tabs
                display: flex
                flex-wrap: wrap
                grid-gap: 8px

                & > .tab-active
                    display: flex
                    align-items: center
                    grid-gap: 8px
                    color: $blue
                    border: 1px solid $blue
                    border-radius: 100px
                    @media screen and (min-width: 0)
                        padding: 8px 14px
                    @media screen and (min-width: $mobileM)
                        padding: 8px 16px
                    @media screen and (min-width: $mobileL)
                        padding: 8px 20px
                    @media screen and (min-width: $tabletS)
                        padding: 12px 24px
.auctions picture img
    max-height: 270px
    min-height: 270px
    height: 270px
    object-fit: cover

.autoauction-online
    overflow: hidden

    & .title-products
        & > .container
            display: flex
            align-items: center
            justify-content: space-between
            border-top: 1px solid $black-21
            padding-top: 15px
            margin-bottom: 40px

        & p
            display: none
            font-size: 16px
            line-height: 18px

            & > span
                font-weight: 700

            @media screen and (min-width: $tabletM)
                display: block

        & select
            padding: 10px 14px
            border: 1px solid $grey-179
            background: white
            @media screen and (min-width: 0)
                width: 100%
                font-size: 16px
                line-height: 19px
            @media screen and (min-width: $tabletM)
                width: 195px
                font-size: 15px
                line-height: 18px

            &:focus-visible
                outline: none

    & .auction
        background-color: white
        color: $grey-102
        margin: 0 auto

        &-first
            padding-top: 0

        &__content
            display: block

            & .auctions
                align-items: center

        &s__content
            border: 1px solid $grey-52

        &s__background
            color: $grey-52
            opacity: 0.03

        &s__model
            color: $black-21
            opacity: 0.5

            &::before
                background-color: $grey-102

        &s__price
            border-top: 1px solid $grey-52
            border-left: 1px solid $grey-52

        &s__notes

            &-item
                @media screen and (min-width: $tabletS)
                    border-right: 1px solid $grey-179
                @media screen and (min-width: $tabletM)
                    border-right: none
                    border-bottom: 1px solid $grey-179

            &-text
                @media screen and (min-width: $tabletS)
                    border-left: 1px solid $grey-179

            & svg
                & > path
                    fill: $grey-181

        &s__watch-more
            color: $grey-181 !important
            border-top: 1px solid $grey-181
            border-bottom: 1px solid $grey-181

    & .article-list__pages
        margin-top: 25px
        justify-content: space-between
        grid-gap: 0
        @media screen and (min-width: $mobileM)
            margin-top: 28px
        @media screen and (min-width: $tabletS)
            margin-top: 32px
            grid-gap: 20px
        @media screen and (min-width: $desktopS)
            margin-top: 30px

    & .interesting-cars,
    & .youtube
        background: $background-grey-gradient
        @media screen and (max-width: $mobileM)
            padding: 60px 0
            & > .container
                width: 100vw
        @media screen and (min-width: $mobileM)
            padding: 64px 0
            & > .container
                width: 100vw
        @media screen and (min-width: $tabletS)
            padding: 80px 0
            & > .container
                width: 100vw
        @media screen and (min-width: $desktopS)
            padding: 100px 0
            & > .container
                width: 1200px
        @media screen and (min-width: $desktopM)
            padding: 120px 0
            & > .container
                width: 1345px

    & .CEO
        @media screen and (max-width: $mobileM)
            margin: 60px 0
        @media screen and (min-width: $mobileM)
            margin: 64px 0
        @media screen and (min-width: $tabletS)
            margin: 80px 0
        @media screen and (min-width: $desktopS)
            margin: 100px 0
        @media screen and (min-width: $desktopM)
            margin: 120px 0

        & > .container
            border-top: 1px solid $black-21

        & h3
            @media screen and (min-width: 0)
                margin: 20px 0 12px
            @media screen and (min-width: $mobileL)
                margin: 24px 0 16px
            @media screen and (min-width: $desktopS)
                margin: 30px 0 15px

        & p
            line-height: 150%
            letter-spacing: 0.04em
            margin-bottom: 10px
            @media screen and (min-width: 0)
                font-size: 14px
            @media screen and (min-width: $tabletS)
                font-size: 15px

        & ul
            & > li
                display: flex
                align-items: center
                margin-bottom: 8px
                grid-gap: 12px

                &::before
                    content: url("../img/marker.svg")

                & > p
                    margin-bottom: 0

                    & > span
                        font-weight: 700

.youtube
    @media screen and (max-width: $mobileM)
        padding: 60px 0
        & > .container
            width: 100vw
    @media screen and (min-width: $mobileM)
        padding: 64px 0
        & > .container
            width: 100vw
    @media screen and (min-width: $tabletS)
        padding: 80px 0
        & > .container
            width: 100vw
    @media screen and (min-width: $desktopS)
        padding: 100px 0
        & > .container
            width: 1200px
    @media screen and (min-width: $desktopM)
        padding: 120px 0
        & > .container
            width: 1345px

    & h2
        text-align: left
        @media screen and (min-width: 0)
            margin-left: 30px
            & > svg
                width: 32px
                margin-bottom: -7px
        @media screen and (min-width: $mobileM)
            margin-left: 32px
        @media screen and (min-width: $mobileL)
            margin-left: 40px
        @media screen and (min-width: $tabletS)
            margin-left: 56px
            & > svg
                width: 47px
                margin-bottom: -7px
        @media screen and (min-width: $desktopS)
            margin-left: 0

    &-slider
        @media screen and (max-width: $mobileM)
            margin-left: 30px
        @media screen and (min-width: $mobileM)
            margin-left: 32px
        @media screen and (min-width: $mobileL)
            margin-left: 40px
        @media screen and (min-width: $tabletS)
            margin-left: 56px
        @media screen and (min-width: $desktopS)
            margin-left: 0

        & .slide
            position: relative

            & img
                @media screen and (min-width: 0)
                    width: 270px
                    height: 160px
                @media screen and (min-width: $mobileM)
                    width: 300px
                    height: 180px
                @media screen and (min-width: $mobileL)
                    width: 340px
                    height: 204px
                @media screen and (min-width: $tabletS)
                    width: 400px
                    height: 240px
                @media screen and (min-width: $desktopS)
                    width: 376px
                    height: 212px
                @media screen and (min-width: $desktopM)
                    width: 425px
                    height: 240px

            &:hover
                & .filter
                    opacity: 1

            & .filter
                opacity: 0
                position: absolute
                background-color: $black-op50
                background-image: url("../img/autoauction-online/play-icon.svg")
                background-repeat: no-repeat
                background-position: center
                transition: 0.3s ease
                @media screen and (min-width: 0)
                    width: 270px
                    height: 160px
                @media screen and (min-width: $mobileM)
                    width: 300px
                    height: 180px
                @media screen and (min-width: $mobileL)
                    width: 340px
                    height: 204px
                @media screen and (min-width: $tabletS)
                    width: 400px
                    height: 240px
                @media screen and (min-width: $desktopS)
                    width: 376px
                    height: 212px
                @media screen and (min-width: $desktopM)
                    width: 425px
                    height: 240px

    & .arrow
        display: flex
        align-items: center
        cursor: pointer
        position: absolute
        @media screen and (min-width: $desktopS)
            top: -68px
        @media screen and (min-width: $desktopM)
            top: -77px

        & > img
            @media screen and (min-width: $desktopS)
                width: 68px
                height: 15px
            @media screen and (min-width: $desktopM)
                width: 80px

        img
            display: block

    & .arrow-prev
        z-index: 1000
        position: absolute
        @media screen and (min-width: $desktopS)
            right: 103px
        @media screen and (min-width: $desktopM)
            right: 120px

    & .arrow-next
        z-index: 1000
        position: absolute
        right: 20px
