@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
    
/* Экраны */
$mobileS: 360px
$mobileM: 415px
$mobileL: 568px
$tabletS: 768px
$tabletM: 1024px
$desktopS: 1440px
$desktopM: 1600px
$desktopL: 1920px

/* Цвета */
$white-op50: rgba(255, 255, 255, 0.5)
$black-op50: rgba(0, 0, 0, 0.5)
$black-op30: rgba(0, 0, 0, 0.3)
$black-op15: rgba(0, 0, 0, 0.15)
$grey-128: rgba(128, 128, 128, 1)
$white-op15: rgba(255, 255, 255, 0.15)
$black-op03: rgba(0, 0, 0, 0.03)
$grey-102: rgba(102, 102, 102, 1)
$grey-52: rgba(52, 52, 52, 1)
$grey-185: rgba(185, 185, 185, 1)
$red: rgba(255, 0, 0, 1)
$white-op03: rgba(255, 255, 255, 0.03)
$blue: rgba(90, 156, 255, 1)
$grey-179: rgba(179, 179, 179, 1)
$black-op75: rgba(0, 0, 0, 0.75)
$black-op40: rgba(0, 0, 0, 0.4)
$blue-dark: rgba(6, 10, 14, 1)
$grey-15-op20: rgba(15, 15, 15, 0.2)
$grey-26: rgba(26, 26, 26, 1)
$grey-52-op80: rgba(52, 52, 52, 0.8)
$grey-153: rgba(153, 153, 153, 1)
$red-dark: rgba(188, 0, 45, 1)
$white-op30: rgba(255, 255, 255, 0.3)


/* Общие стили */
.container
    margin: 0 auto
    @media screen and (min-width: $mobileS)
        width: 94vw
    @media screen and (min-width: $mobileL)
        width: 536px
    @media screen and (min-width: $tabletS)
        width: 712px
    @media screen and (min-width: $tabletM)
        width: 912px
    @media screen and (min-width: $desktopS)
        width: 1200px
    @media screen and (min-width: $desktopM)
        width: 1345px

    

*
    margin: 0
    padding: 0


body
    font-family: Roboto
