@import "base.sass"

.buy-car
    
    &__steps
        display: flex


    &__step
        border: 1px solid $grey-179
        display: flex
        align-items: center
        position: relative

    &__num
        padding: 0 39px
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        letter-spacing: 0.045em;
        text-align: center;


    &__contnet
        padding: 0 25px
