header
    background: black
    
    color: white
    padding: 16px

    .container
        display: flex
        align-items: center
        gap: 33px
        
    a
        color: white
        text-decoration: none