@import "base.sass"
.product
    & .interesting-cars
        background: $background-grey-gradient
        @media screen and (min-width: $mobileS) and (max-width: $mobileS)
            padding: 20px 0
        @media screen and (min-width: $tabletS)
            padding: 20px 0
        @media screen and (min-width: $desktopS)
            padding: 100px 0
        @media screen and (min-width: $desktopM)
            padding: 120px 0

        h2
            @media screen and (min-width: $desktopS)
                margin-bottom: 50px

.interesting-cars
    &__categories
        margin: 0 auto
        display: flex
        flex-direction: row
        align-items: center
        @media screen and (min-width: $desktopS)
            width: 1177px
            gap: 36px
        @media screen and (min-width: $desktopM)
            gap: 43px

        .category
            padding-bottom: 5px
            @media screen and (min-width: $desktopS)
                font-size: 18px

            &.active
                border-bottom: 1px solid black

        .categories-line
            border-left: 1px solid $grey-185
            @media screen and (min-width: $desktopS)
                height: 25px
            @media screen and (min-width: $desktopM)
                height: 38px

    &__card
        position: relative
        padding-top: 117px
        max-width: 425px

        & .card
            &-image
                z-index: 10000
                position: absolute
                top: 5%
                @media screen and (min-width: $desktopS)
                    left: 33px
                @media screen and (min-width: $desktopM)
                    left: 57px


            &__content
                border: 1px solid $grey-52
                @media screen and (min-width: $desktopS)
                    width: 376px
                    padding-top: 92px
                @media screen and (min-width: $desktopM)
                    width: 425px

            &-title
                display: flex
                justify-content: center
                align-items: center
                gap: 10px

                & > span
                    color: $black-21
                    font-weight: 400

            &-data
                display: flex
                justify-content: center
                gap: 10px
                margin: 20px 0
                font-size: 15px
                color: $grey-102

                &-line
                    height: 15px
                    border-left: 1px solid $black-op15

            &-cta
                border-top: 1px solid $grey-179
                display: grid
                @media screen and (min-width: $desktopS)
                    grid-template-columns: 1.21fr 1fr
                @media screen and (min-width: $desktopM)
                    grid-template-columns: 1fr 1fr

                &-left
                    @media screen and (min-width: $desktopS)
                        grid-column: 1/2

                    & > ul
                        & > li
                            position: relative
                            border-bottom: 1px solid $black-op30
                            border-right: 1px solid $black-op30

                            @media screen and (min-width: $desktopS)
                                padding: 7px 17px 6px 44px
                            @media screen and (min-width: $desktopM)
                                padding: 7px 21px 6px 47px

                            &:nth-child(2)
                                & > h3
                                    color: $red-dark

                            &:last-child
                                border-bottom: none

                            &:before
                                content: url("../img/product-page/info.svg")
                                position: absolute
                                top: 40%
                                @media screen and (min-width: $desktopS)
                                    left: 20px
                                @media screen and (min-width: $desktopM)
                                    left: 23px

                            & > p
                                font-size: 10px
                                line-height: 12px
                                color: $black-op50

                    .cta__cost
                        &-title
                            & > span
                                font-size: 15px

                &-right
                    margin: auto
                    @media screen and (min-width: $desktopM)
                        grid-column: 2/3

                    & > button
                        border: none
                        background-color: white
                        color: black
                        font-family: Roboto, sans-serif
                        font-weight: 400
                        font-size: 15px
