@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.about-company__text p {
  line-height: 160%;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
}

.about-company__text ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  grid-gap: 12px;
}

.about-company__text ul > li::before {
  content: url("../img/marker.svg");
}

.about-company__text ul > li > p {
  margin-bottom: 0;
}

.about-company .reviews {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), color-stop(29.69%, #FFFFFF), color-stop(71.87%, #FFFFFF), to(#F4F4F4));
  background: -o-linear-gradient(top, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
  background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
}

.managers {
  margin-top: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), color-stop(29.69%, #FFFFFF), color-stop(71.87%, #FFFFFF), to(#F4F4F4));
  background: -o-linear-gradient(top, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
  background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
}

.managers h2 {
  text-align: left;
}

.managers .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
}

.managers .arrow img {
  display: block;
}

.managers .arrow-prev {
  z-index: 1000;
  position: absolute;
}

.managers .arrow-next {
  z-index: 1000;
  position: absolute;
  right: 20px;
}

.managers__card > p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.045em;
  color: #b5b5b5;
}

@media screen and (min-width: 0) {
  .about-company__text h3 {
    margin: 20px 0 12px;
  }

  .about-company__text p {
    font-size: 14px;
  }

  .managers h2 {
    margin-left: 30px;
  }

  .managers-slider {
    margin-left: 30px;
  }

  .managers__card > h3 {
    margin: 20px 0 8px;
  }

  .managers__card__img > img {
    width: 260px;
    height: 310px;
  }
}

@media screen and (min-width: 414px) {
  .about-company__text {
    margin: 64px 0;
  }

  .managers {
    padding: 64px 0;
  }

  .managers > .container {
    width: 100vw;
  }

  .managers h2 {
    margin-left: 32px;
  }

  .managers-slider {
    margin-left: 32px;
  }
}

@media screen and (min-width: 568px) {
  .managers h2 {
    margin-left: 40px;
  }

  .managers-slider {
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .about-company__text {
    margin: 80px 0;
  }

  .about-company__text h3 {
    margin: 24px 0 14px;
  }

  .about-company__text p {
    font-size: 16px;
  }

  .managers {
    padding: 80px 0;
  }

  .managers > .container {
    width: 100vw;
  }

  .managers h2 {
    margin-left: 56px;
  }

  .managers-slider {
    margin-left: 56px;
  }

  .managers__card__img > img {
    width: 274px;
    height: 327px;
  }
}

@media screen and (min-width: 1300px) {
  .managers .arrow {
    top: -68px;
  }

  .managers .arrow > img {
    width: 68px;
    height: 15px;
  }

  .managers .arrow-prev {
    right: 103px;
  }
}

@media screen and (min-width: 1440px) {
  .about-company > .contacts__banner {
    margin-top: 60px;
  }

  .about-company__text {
    margin: 100px 0;
  }

  .about-company__text h3 {
    margin: 28px 0 15px;
  }

  .managers {
    padding: 100px 0;
  }

  .managers > .container {
    width: 1200px;
  }

  .managers h2 {
    margin-left: 0;
  }

  .managers-slider {
    margin-left: 0;
  }

  .managers__card > h3 {
    margin: 20px 0 10px;
  }
}

@media screen and (min-width: 1600px) {
  .about-company__text {
    margin: 120px 0;
  }

  .managers {
    padding: 120px 0;
  }

  .managers > .container {
    width: 1345px;
  }

  .managers .arrow {
    top: -77px;
  }

  .managers .arrow > img {
    width: 80px;
  }

  .managers .arrow-prev {
    right: 120px;
  }

  .managers__card > h3 {
    margin: 24px 0 10px;
  }

  .managers__card__img > img {
    width: 310px;
    height: 370px;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .about-company__text {
    margin: 60px 0;
  }

  .managers {
    padding: 60px 0;
    margin-top: 60px;
  }

  .managers > .container {
    width: 100vw;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}
