@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.article__content {
  display: grid;
  grid-template-columns: 2.85fr 1fr;
  grid-gap: 150px;
  padding-top: 11px;
}

.article__content p {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.04em;
  margin: 35px 0 30px;
}

.article__content .table-wrap {
  width: 100%;
  max-width: 788px;
  overflow: scroll;
  scrollbar-width: none;
}

.article__content .table-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.article__content table {
  min-width: 100%;
  border-collapse: collapse;
}

.article__content table * {
  border: 1px solid #b9b9b9;
}

.article__content table th,
.article__content table td {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.045em;
  text-align: center;
  padding: 17px 19px;
  white-space: nowrap;
}

.article__main-pic {
  width: 100%;
}

.article__main-pic img {
  width: 100%;
}

.article__link {
  width: 100%;
  padding: 20px;
  border-top: 1px solid #bc002d;
  border-bottom: 1px solid #bc002d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  color: #bc002d;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
  font-size: 17px;
  line-height: 19px;
}

.article__contents {
  margin-top: 60px;
  background: #f8f8f8;
  padding: 40px;
}

.article__contents h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.045em;
  margin: 0;
}

.article__contents-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #150202;
}

.article__contents-down {
  padding-top: 27px;
}

.article__contents-down .article__calculator {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  margin-top: 14px;
  padding: 14px 25px;
}

.article__chapters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__chapter {
  width: 100%;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 12px;
}

.article__chapter:nth-child(1) {
  padding-left: 0;
}

.article__chapter:last-child {
  padding-right: 0;
}

.article__chapter:last-child .article__cbrand {
  padding-right: 0;
  border: none;
}

.article__calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 11px;
  padding: 12px 19px;
  background: #5a9cff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}

.article__cbrand {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.045em;
  width: 100%;
  padding-right: 27px;
  margin-bottom: 12px;
  border-right: 1px solid #b9b9b9;
}

.article__cmodel {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.045em;
}

.article__cars {
  margin-top: 120px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 60px;
}

.article__car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__car-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__car-name {
  color: #150202;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.045em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article p.article__car-description {
  margin-top: 18px;
}

.article__brand {
  font-weight: 700;
}

.article__model {
  opacity: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__model::before {
  display: block;
  margin: 0 12px;
  content: "";
  border-radius: 50%;
  background: #150202;
  opacity: 50%;
  width: 6px;
  height: 6px;
}

.article__get-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bc002d;
}

.article__car-photo {
  width: 100%;
  height: 450px;
}

.article__car-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.article .interesting-cars {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), color-stop(29.69%, #FFFFFF), color-stop(71.87%, #FFFFFF), to(#F4F4F4));
  background: -o-linear-gradient(top, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
  background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
}

.articles-a > h3 {
  border-bottom: 1px solid #150202;
  padding-bottom: 10px;
}

.articles-a__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  grid-gap: 32px;
}

.articles-a__item {
  text-decoration: none;
  color: #150202;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 260px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: unset;
  width: 100%;
}

.articles-a__item picture {
  height: 100%;
  grid-column: 1/2;
  height: 210px;
  position: relative;
  display: block;
}

.articles-a__item picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-a__description {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #150202;
  position: relative;
  grid-column: 2/3;
  background: none;
  padding: 0;
}

.articles-a__description > * {
  max-width: 100%;
}

.articles-a__title {
  max-width: 294px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.045em;
  margin-bottom: 10px;
}

.articles-a__info {
  max-width: 294px;
  color: #150202;
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 1440px) {
  .article__content {
    grid-gap: 140px;
  }

  .article__content table th,
  .article__content table td {
    padding: 17px 12px;
  }

  .article__chapter {
    padding-left: 21px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .article__cbrand {
    padding-right: 21px;
    width: 100%;
    font-size: 15px;
  }

  .article__cars {
    margin-top: 100px;
    margin-bottom: 100px;
    grid-gap: 52px;
  }

  .articles-a > h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .article__content {
    display: block;
  }

  .article__content .table-wrap {
    max-width: unset;
  }

  .article__right {
    display: none;
  }

  .article__contents {
    margin-top: 80px;
  }

  .article__contents h3 {
    font-size: 24px;
  }

  .article__chapter {
    padding-left: 29px;
  }

  .article__cars {
    grid-gap: 48px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .article__content p {
    margin: 18px 0 27px;
  }

  .article__content table th,
  .article__content table td {
    padding: 17px 24px;
  }

  .article__contents {
    margin-top: 60px;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 85px 56px 70px;
  }

  .article__contents-down {
    padding-top: 46px;
  }

  .article__chapters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 16px;
    grid-gap: 0 75px;
  }

  .article__chapter {
    display: list-item;
    list-style: decimal;
    padding: 0;
  }

  .article__chapter::marker {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.045em;
    color: #b5b5b5;
  }

  .article__cbrand {
    border: none;
    padding-left: 12px;
    font-size: 16px;
  }

  .article__cmodel {
    display: none;
  }

  .article__cars {
    margin-top: 465px;
    margin-bottom: 80px;
  }

  .article__cars-bottom {
    margin: 80px 0;
  }

  .article__get-price {
    font-size: 17px;
    line-height: 19px;
  }

  .article__car-photo {
    height: 370px;
  }
}

@media screen and (max-width: 568px) {
  .article__content table th,
  .article__content table td {
    padding: 11px 18px;
  }

  .article__contents {
    padding: 64px 39px 70px;
  }

  .article__contents h3 {
    font-size: 20px;
  }

  .article__contents-up .article__calculator {
    display: none;
  }

  .article__contents-down {
    padding-top: 42px;
  }

  .article__contents-down .article__calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .article__chapters {
    height: 10rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    grid-gap: 7px 56px;
  }

  .article__cars {
    margin-top: 558px;
    margin-bottom: 64px;
    grid-gap: 40px;
  }

  .article__cars-bottom {
    margin: 64px 0;
  }

  .article__car-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 16px;
  }

  .article__car-head .article__get-price {
    grid-gap: 13px;
  }

  .article__car-photo {
    height: 280px;
  }
}

@media screen and (max-width: 414px) {
  .article__content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
  }

  .article__content table th,
  .article__content table td {
    font-size: 15px;
    padding: 12px 18px;
  }

  .article__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .article__link-text {
    max-width: 195px;
  }

  .article__cars {
    margin-top: 552px;
  }

  .article__car-photo {
    height: 200px;
  }
}

@media screen and (max-width: 360px) {
  .article__link {
    font-size: 15px;
  }

  .article__contents-down .article__calculator {
    font-size: 10px;
    line-height: 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .article__chapters {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .article__cars {
    margin-top: 661px;
    margin-bottom: 60px;
  }

  .article__cars-bottom {
    margin: 60px 0;
  }

  .article__car-name {
    font-size: 18px;
    line-height: 23px;
  }

  .article__car-photo {
    height: 160px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .article__contents h3 {
    font-size: 22px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px) and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}
