@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

/* Общие стили */

body {
  overflow-x: hidden;
}

.choices__list--dropdown {
  max-height: 10rem;
  overflow-y: scroll;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  scrollbar-color: #eee rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  height: 24px;
  background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: 99vw;
  width: 1345px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
  color: #150202;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
}

h1 {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.045em;
}

h2 {
  margin-bottom: 47px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.045em;
}

h3 {
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 0.11em;
}

h4 {
  font-weight: 700;
  letter-spacing: 0.045em;
}

ul {
  list-style: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 0.04rem;
}

.red-btn {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bc002d;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.breadcrumbs {
  display: none;
  margin: 40px 0 30px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li {
  position: relative;
  color: #bc002d;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

.breadcrumbs ul li::after {
  content: "/";
  margin: 0 9px;
  color: inherit;
  font-size: inherit;
}

.breadcrumbs ul li:last-child > a {
  color: #b5b5b5;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li > a {
  color: #bc002d;
  text-decoration: none;
}

.breadcrumbs ul li > a:hover {
  text-decoration: underline;
}

.breadcrumbs-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
  padding: 18px 24px;
  margin: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.page-title {
  border-bottom: 1px solid #150202;
  width: 100%;
  text-align: left;
  padding-bottom: 21px;
}

.auction {
  padding: 120px 0;
}

.auction__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auction .empty {
  width: 8px;
}

.auctions {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 34px;
  width: 100%;
}

.auctions__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.045em;
  color: rgba(255, 255, 255, 0.5);
}

.auctions__item {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.auctions__content {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0 30px;
  position: relative;
  border: 1px solid white;
}

.auctions__content-pictures {
  width: 360px;
}

.auctions__content-pictures .slick-arrow::before {
  background: -o-radial-gradient(#fff8, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0));
  background: radial-gradient(#fff8, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0));
  display: inline-block;
  height: 60px;
  padding: 0 5px;
}

.auctions__content-pictures .slick-next {
  right: 15px !important;
  z-index: 10;
}

.auctions__content-pictures .slick-next::before {
  content: url(../img/arrow.svg);
  height: 52px;
}

.auctions__content-pictures .slick-prev {
  left: 15px !important;
  z-index: 10;
}

.auctions__content-pictures .slick-prev::before {
  content: url(../img/arrow-left.svg);
  height: 52px;
}

.auctions picture {
  overflow: hidden;
  width: 310px;
}

.auctions picture img {
  min-height: 100%;
  min-width: 100%;
}

.auctions__brand {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.045em;
}

.auctions__model {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.045em;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auctions__model::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 10px;
}

.auctions__info {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.045em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 100px;
  width: 100%;
}

.auctions__info-wrap {
  padding: 25px 0 0px;
  position: relative;
  height: auto;
  padding-bottom: 70px;
  width: 100%;
}

.auctions__info-wrap > *:nth-child(1) {
  font-family: Montserrat;
  margin-bottom: 15px;
  grid-gap: 0;
}

.auctions__info-item {
  display: grid;
  grid-auto-columns: 1fr 1.5fr;
  width: auto;
  grid-gap: 20px;
}

.auctions__info-property {
  grid-column: 1/2;
}

.auctions__info-value {
  font-weight: bold;
  grid-column: 2/3;
}

.auctions__notes {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none !important;
}

.auctions__notes-text {
  display: none;
}

.auctions__notes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 21px;
  grid-gap: 20px;
  border: none !important;
}

.auctions__notes-item:hover .auctions__notes-text {
  position: absolute;
  bottom: 40px;
  left: -20px;
  background: white;
  display: block;
  border: 1px solid #999999;
  width: 250px;
  padding: 10px 13px;
  border-radius: 5px;
}

.auctions__notes-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.045em;
  padding-left: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.auctions__price {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 55px;
  grid-gap: 29px;
  padding: 8px 30px;
}

.auctions__cost {
  padding-right: 1px solid;
}

.auctions__cost-up {
  font-family: Montserrat;
  color: #bc002d;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.043em;
}

.auctions__cost-down {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.5);
}

.auctions a {
  color: black;
  text-decoration: none;
}

.auctions__background {
  position: absolute;
  font-weight: bold;
  font-size: 110px;
  line-height: 86%;
  text-align: right;
  letter-spacing: 0.045em;
  font-family: Montserrat;
  bottom: 47px;
  right: 0;
  color: rgba(255, 255, 255, 0.03);
}

.auctions__watch-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5) !important;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding: 20px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .auctions__content-pictures {
    margin: 0 !important;
  }

  .auctions__content-pictures .slick-list {
    height: 100% !important;
  }

  .auctions__content-pictures .slick-list * {
    height: 100% !important;
  }

  .auctions__content-pictures .slick-dots {
    position: absolute;
    bottom: 15px;
  }

  .auctions__info {
    max-height: 120px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    line-height: 130%;
  }

  h2 {
    font-size: 36px;
  }

  .breadcrumbs {
    display: block;
  }

  .breadcrumbs-tablet {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 1600px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0.04em;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .auctions__info {
    gap: 0 4vw;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88.62vw;
  }

  h1 {
    letter-spacing: 0.01em;
  }

  .auction {
    padding: 80px 0;
  }

  .auction__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .auction__content > svg {
    display: none;
  }

  .auction .empty {
    display: none;
  }

  .auctions__item {
    width: 100%;
    max-width: 360px;
  }

  .auctions__content-pictures {
    width: 100%;
  }

  .auctions__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .auctions picture {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }

  .auctions picture * {
    width: 100%;
  }

  .auctions__info {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 13px;
    line-height: 170%;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 0;
  }

  .auctions__info-wrap {
    padding: 10px 0 20px 20px;
  }

  .auctions__info-item:nth-child(n+8) {
    display: none;
  }

  .auctions__notes {
    right: -10px;
    top: 80px;
    left: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .auctions__price {
    border: none !important;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 42px;
    padding: 0;
    padding-top: 12px;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 12px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-top: 14px;
    grid-gap: 10px;
    margin-top: 0px;
  }

  .auctions__price svg {
    display: none;
  }

  .auctions__cost {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
  }

  .auctions__cost-down {
    grid-column: 1/2;
    place-self: center start;
    grid-row: 1/2;
    font-size: 13px;
    line-height: 130%;
  }

  .auctions__cost-up {
    grid-column: 2/3;
    place-self: center start;
    font-size: 18px;
  }

  .auctions__action {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #b3b3b3;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
  }

  .auctions__background {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85.8vw;
  }

  h1 {
    font-size: 42px;
    line-height: 120%;
  }

  h2 {
    margin: 0 auto 47px;
    font-size: 28px;
  }

  h4 {
    font-size: 15px;
  }

  .page-title {
    font-size: 32px;
  }

  .auctions__brand {
    line-height: 120%;
  }

  .auctions__model {
    line-height: 120%;
  }

  .auctions__model::before {
    display: none;
  }

  .auctions__info-wrap > *:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: row;
    grid-gap: 10px;
    flex-direction: column;
    grid-gap: 0;
  }

  .auctions__notes-item {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  .auctions__notes-item:last-child {
    border: none;
  }
}

@media screen and (max-width: 568px) {
  .container {
    width: 86vw;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.045em;
    margin-bottom: 19px;
  }

  .page-title {
    padding-bottom: 13px;
    font-size: 28px;
    margin-bottom: 40px;
  }

  .auction {
    padding: 64px 0;
  }

  .auction h2 {
    margin-bottom: 36px;
  }

  .auctions__model::before {
    display: block;
  }

  .auctions__notes-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .auctions__cost {
    padding-left: 20px;
    place-self: start;
  }
}

@media screen and (max-width: 414px) {
  .container {
    width: 84.5vw;
  }

  h1 {
    font-size: 32px;
  }

  .auctions__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 3px;
  }

  .auctions__model::before {
    display: none;
  }

  .auctions__notes {
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .auctions__notes-text {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    width: 250px;
    left: unset !important;
    right: 0px !important;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1024px) {
  .auctions__cost:first-child {
    display: none;
  }

  .auctions__cost:first-child + svg {
    display: none;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px) and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1100px) and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}
