@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

/* Общие стили */

body {
  overflow-x: hidden;
}

.choices__list--dropdown {
  max-height: 10rem;
  overflow-y: auto !important;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  scrollbar-color: #eee rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  height: 24px;
  background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: 96vw;
  width: 1345px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
  color: #150202;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
}

h1 {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.045em;
}

h2 {
  margin-bottom: 47px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.045em;
}

h3 {
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 0.11em;
}

h4 {
  font-weight: 700;
  letter-spacing: 0.045em;
}

ul {
  list-style: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 0.04rem;
}

.red-btn {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bc002d;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.breadcrumbs {
  display: none;
  margin: 40px 0 30px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li {
  position: relative;
  color: #bc002d;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

.breadcrumbs ul li::after {
  content: "/";
  margin: 0 9px;
  color: inherit;
  font-size: inherit;
}

.breadcrumbs ul li:last-child > a {
  color: #b5b5b5;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li > a {
  color: #bc002d;
  text-decoration: none;
}

.breadcrumbs ul li > a:hover {
  text-decoration: underline;
}

.breadcrumbs-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
  padding: 18px 24px;
  margin: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.page-title {
  border-bottom: 1px solid #150202;
  width: 100%;
  text-align: left;
  padding-bottom: 21px;
}

.not-visible {
  display: none !important;
}

.main-filter {
  margin-top: 60px;
}

.main-filter .choices__inner {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #150202;
}

.main-filter .choices__inner .choices__item {
  font-size: 17px !important;
  line-height: 17px !important;
}

.main-filter #main-filter__select:focus-visible {
  outline: none;
}

.main-filter__category {
  width: inherit;
  display: grid;
  padding: 12px 0 15px !important;
  place-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-bottom: none !important;
  border-radius: 10px 10px 0 0;
  font-size: 18px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.5);
}

.main-filter__category:hover {
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 -12px 12px rgba(0, 0, 0, 0.03);
          box-shadow: 0 -12px 12px rgba(0, 0, 0, 0.03);
}

.main-filter__category.active {
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  background: white;
  margin-top: -5px;
  padding-bottom: 20px !important;
}

.main-filter__categories-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100% !important;
}

.main-filter__lists {
  position: relative;
  padding: 20px 20px 15px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
}

.main-filter__lists > ul > li {
  letter-spacing: 0.045em;
}

.main-filter__lists > ul > li > a {
  color: black;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.main-filter__lists > ul > li > a .auctions__notes {
  position: static;
  display: inline-block;
  padding: 0 !important;
}

.main-filter__lists > ul > li > a .auctions__notes-item {
  padding: 0 0 0 10px !important;
}

.main-filter__lists > ul > li > a .auctions__notes-text {
  bottom: 27px !important;
  right: -90px !important;
  white-space: normal;
  z-index: 111;
}

.main-filter__lists > ul > li > a:hover {
  text-decoration: underline;
}

.main-filter__filter.active {
  display: block !important;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
}

.main-filter__filter .choices__list--dropdown .choices__item[data-value="placeholder"] {
  display: none;
}

.main-filter__filter .choices {
  margin: 0;
}

.main-filter__filter .filter__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: 1/3;
  background-color: #f8f8f8;
}

.main-filter__filter .filter__top > h2 {
  text-align: left;
  margin: 0;
}

.main-filter__filter .filter__top > button {
  background: none;
  border: none;
}

.main-filter__filter .filter__left > div > label {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.main-filter__filter .filter__right > div {
  display: grid;
}

.main-filter__filter .filter__right > div > label {
  font-size: 15px;
  line-height: 18px;
}

.main-filter__filter .filter__right > div > div {
  margin-top: 15px;
}

.main-filter__filter .filter__right input[type=checkbox] {
  display: none;
}

.main-filter__filter .filter__right input[type=checkbox]:checked + label {
  background-image: url("../img/autoauction-online/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-filter__filter .filter__rating {
  width: 100%;
}

.main-filter__filter .filter__rating .h3 {
  margin-top: 15px;
}

.main-filter__filter .filter__rating-range {
  width: 100%;
}

.main-filter__filter .filter__rating-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0 !important;
}

.main-filter__filter .filter__rating-value {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.main-filter__filter .filter__rating .noUi-horizontal {
  height: 5px;
}

.main-filter__filter .filter__rating .noUi-connect {
  background: #bc002d;
  left: 5px;
}

.main-filter__filter .filter__rating .noUi-handle {
  height: 15px;
  width: 15px;
  background: #bc002d;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-filter__filter .filter__rating .noUi-handle::before,
.main-filter__filter .filter__rating .noUi-handle::after {
  display: none;
}

.main-filter__filter .filter__rating .noUi-connect,
.main-filter__filter .filter__rating .noUi-origin {
  margin-right: 10px;
}

.main-filter__filter .filter__rating__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-filter__filter .filter__rating__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
}

.main-filter__filter .filter__rating input[type=checkbox]:checked + label {
  background-color: #bc002d;
}

.main-filter__filter .filter__rating input[type=checkbox] + label {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border: 1px solid #b3b3b3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-filter__filter .filter__rating input[type=checkbox] + label + label {
  font-size: 12px;
  line-height: 14px;
}

.main-filter__filter .filter__color__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-filter__filter .filter__color__checkbox input[type=checkbox] + label {
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.main-filter__filter .filter__color__checkbox:nth-child(1) label {
  background-color: white;
}

.main-filter__filter .filter__color__checkbox:nth-child(2) label {
  background: -webkit-gradient(linear, left top, left bottom, from(#C4C4C4), color-stop(92.19%, #F4F4F4));
  background: -o-linear-gradient(top, #C4C4C4 0%, #F4F4F4 92.19%);
  background: linear-gradient(180deg, #C4C4C4 0%, #F4F4F4 92.19%);
}

.main-filter__filter .filter__color__checkbox:nth-child(3) label {
  background-color: #9c9c9c;
}

.main-filter__filter .filter__color__checkbox:nth-child(4) label {
  background-color: black;
}

.main-filter__filter .filter__color__checkbox:nth-child(5) label {
  background-color: #964b00;
}

.main-filter__filter .filter__color__checkbox:nth-child(6) label {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4BF00), to(#FFD700));
  background: -o-linear-gradient(top, #F4BF00 0%, #FFD700 100%);
  background: linear-gradient(180deg, #F4BF00 0%, #FFD700 100%);
}

.main-filter__filter .filter__color__checkbox:nth-child(7) label {
  background-color: #f4e6d0;
}

.main-filter__filter .filter__color__checkbox:nth-child(8) label {
  background-color: red;
}

.main-filter__filter .filter__color__checkbox:nth-child(9) label {
  background-color: #ff7f09;
}

.main-filter__filter .filter__color__checkbox:nth-child(10) label {
  background-color: #f9f022;
}

.main-filter__filter .filter__color__checkbox:nth-child(11) label {
  background-color: #00ae00;
}

.main-filter__filter .filter__color__checkbox:nth-child(12) label {
  background-color: #24caff;
}

.main-filter__filter .filter__color__checkbox:nth-child(13) label {
  background-color: #011af8;
}

.main-filter__filter .filter__color__checkbox:nth-child(14) label {
  background-color: #9e00ff;
}

.main-filter__filter .filter__color__checkbox:nth-child(15) label {
  background-color: #d400bf;
}

.main-filter__filter .filter__color__checkbox:nth-child(16) label {
  background-color: #ffcee6;
}

.main-filter__filter .filter__left select,
.main-filter__filter .filter__left .choices__inner,
.main-filter__filter .filter__left input,
.main-filter__filter .filter__right select,
.main-filter__filter .filter__right .choices__inner,
.main-filter__filter .filter__right input {
  padding-bottom: 13px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #150202;
  background: white;
}

.main-filter__filter .filter__left > div > select::-webkit-input-placeholder,
.main-filter__filter .filter__left > div .choices__inner::-webkit-input-placeholder,
.main-filter__filter .filter__left > div .choices::-webkit-input-placeholder,
.main-filter__filter .filter__left > div > input::-webkit-input-placeholder,
.main-filter__filter .filter__right > div > select::-webkit-input-placeholder,
.main-filter__filter .filter__right > div .choices__inner::-webkit-input-placeholder,
.main-filter__filter .filter__right > div .choices::-webkit-input-placeholder,
.main-filter__filter .filter__right > div > input::-webkit-input-placeholder {
  color: #150202;
}

.main-filter__filter .filter__left > div > select::-moz-placeholder,
.main-filter__filter .filter__left > div .choices__inner::-moz-placeholder,
.main-filter__filter .filter__left > div .choices::-moz-placeholder,
.main-filter__filter .filter__left > div > input::-moz-placeholder,
.main-filter__filter .filter__right > div > select::-moz-placeholder,
.main-filter__filter .filter__right > div .choices__inner::-moz-placeholder,
.main-filter__filter .filter__right > div .choices::-moz-placeholder,
.main-filter__filter .filter__right > div > input::-moz-placeholder {
  color: #150202;
}

.main-filter__filter .filter__left > div .filter__selects,
.main-filter__filter .filter__right > div .filter__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 35px;
}

.main-filter__filter .filter__left > div .filter__selects > *,
.main-filter__filter .filter__right > div .filter__selects > * {
  max-width: calc(50% - 18px);
}

.main-filter__filter .filter__left > div .filter__selects > * *,
.main-filter__filter .filter__right > div .filter__selects > * * {
  max-width: 100%;
}

.main-filter__filter .filter__left > div .filter__selects .choices__item,
.main-filter__filter .filter__right > div .filter__selects .choices__item {
  padding-right: 10px;
}

.main-filter__filter .filter__left > div .filter__selects .choices__item:after,
.main-filter__filter .filter__right > div .filter__selects .choices__item:after {
  display: none;
}

.main-filter__filter .filter__buttons {
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 5px;
}

.main-filter__filter .filter__buttons > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  border: none;
  font-family: Roboto;
}

.main-filter__filter .filter__buttons > .all-btn {
  background: none;
  color: #bc002d;
  margin-bottom: 0;
}

.main-filter__filter .filter__buttons > .all-btn > svg.closed {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-filter__filter .filter__buttons > .clear-btn {
  background: none;
  color: #b5b5b5;
}

.main-filter__filter .filter__buttons > .red-btn {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.main-filter__filter-mobile {
  display: block;
  background: white;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.main-filter__filter-mobile-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-filter__filter-mobile-top > h2 {
  margin-bottom: 0;
}

.main-filter__filter-mobile-top > .red-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.045em;
  grid-gap: 16px;
}

.main-filter__filter-mobile-top > p {
  text-align: right;
}

.main-filter__filter-mobile-top > p > span {
  font-weight: 700;
}

.main-filter__filter-mobile-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 8px;
}

.main-filter__filter-mobile-tabs > .tab-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  color: #5a9cff;
  border: 1px solid #5a9cff;
  border-radius: 100px;
}

.main-filter__mods {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  padding: 20px 25px;
}

.main-filter__mods .h2 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.main-filter__mods-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
  gap: 10px;
  height: 50px;
  overflow: hidden;
}

.main-filter__mods-list.active {
  height: unset;
}

.main-filter__mods-show {
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

.main-filter__mods-show .hide {
  display: none;
}

.main-filter__mods-show.active .show {
  display: none;
}

.main-filter__mods-show.active .hide {
  display: inline-block;
}

.auctions picture img {
  max-height: 270px;
  min-height: 270px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.autoauction-online {
  overflow: hidden;
}

.autoauction-online .title-products > .container:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #150202;
  padding-top: 15px;
  margin-bottom: 40px;
}

.autoauction-online .title-products p {
  display: none;
  font-size: 16px;
  line-height: 18px;
}

.autoauction-online .title-products p > span {
  font-weight: 700;
}

.autoauction-online .title-products select {
  padding: 10px 14px;
  border: 1px solid #b3b3b3;
  background: white;
}

.autoauction-online .title-products select:focus-visible {
  outline: none;
}

.autoauction-online .auction {
  background-color: white;
  color: #666666;
  margin: 0 auto;
}

.autoauction-online .auction-first {
  padding-top: 0;
}

.autoauction-online .auction__content {
  display: block;
}

.autoauction-online .auction__content .auctions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.autoauction-online .auctions__content {
  border: 1px solid #343434;
}

.autoauction-online .auctions__background {
  color: #343434;
  opacity: 0.03;
}

.autoauction-online .auctions__model {
  color: #150202;
  opacity: 0.5;
}

.autoauction-online .auctions__model::before {
  background-color: #666666;
}

.autoauction-online .auctions__price {
  border-top: 1px solid #343434;
  border-left: 1px solid #343434;
}

.autoauction-online .auctions__notes svg > path {
  fill: #b5b5b5;
}

.autoauction-online .auctions__watch-more {
  color: #b5b5b5 !important;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}

.autoauction-online .article-list__pages {
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 0;
}

.autoauction-online .interesting-cars,
.autoauction-online .youtube {
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), color-stop(29.69%, #FFFFFF), color-stop(71.87%, #FFFFFF), to(#F4F4F4));
  background: -o-linear-gradient(top, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
  background: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 29.69%, #FFFFFF 71.87%, #F4F4F4 100%);
}

.autoauction-online .CEO > .container {
  border-top: 1px solid #150202;
}

.autoauction-online .CEO p {
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.autoauction-online .CEO ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  grid-gap: 12px;
}

.autoauction-online .CEO ul > li::before {
  content: url("../img/marker.svg");
}

.autoauction-online .CEO ul > li > p {
  margin-bottom: 0;
}

.autoauction-online .CEO ul > li > p > span {
  font-weight: 700;
}

.youtube h2 {
  text-align: left;
}

.youtube-slider .slide {
  position: relative;
}

.youtube-slider .slide:hover .filter {
  opacity: 1;
}

.youtube-slider .slide .filter {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/autoauction-online/play-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.youtube .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
}

.youtube .arrow img {
  display: block;
}

.youtube .arrow-prev {
  z-index: 1000;
  position: absolute;
}

.youtube .arrow-next {
  z-index: 1000;
  position: absolute;
  right: 20px;
}

.mobile-sort {
  display: none !important;
}

.desktop-sort {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 10px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.desktop-sort svg {
  display: none;
  height: 13px;
}

.desktop-sort .radio-list {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.desktop-sort input {
  display: none;
}

.desktop-sort input:checked + svg {
  display: inline-block;
}

.desktop-sort .sort__item.active {
  color: #bc002d;
}

.desktop-sort .sort__item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

@media screen and (min-width: 0) {
  .main-filter__categories-select {
    margin-bottom: 25px;
  }

  .main-filter__lists {
    margin-bottom: 40px;
  }

  .main-filter__lists > ul {
    display: none;
  }

  .main-filter__lists > ul.active {
    max-width: 100% !important;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 24px;
  }

  .main-filter__lists > ul > li {
    font-size: 14px;
    line-height: 16px;
  }

  .main-filter__filter {
    display: none;
    background: white;
    width: 100vw;
  }

  .main-filter__filter .filter__top {
    padding: 21px 30px;
  }

  .main-filter__filter .filter__left {
    padding: 50px 30px 0;
    border-bottom: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__left > div {
    margin-bottom: 50px;
  }

  .main-filter__filter .filter__right > div {
    padding: 15px 35px 21px;
  }

  .main-filter__filter .filter__rating {
    border-bottom: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__rating__content {
    max-width: 300px;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
    row-gap: 22px;
  }

  .main-filter__filter .filter__color {
    border-bottom: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__color__content {
    max-width: 300px;
    grid-gap: 20px;
  }

  .main-filter__filter .filter__color__checkbox input[type=checkbox] + label {
    width: 32px;
    height: 32px;
  }

  .main-filter__filter .filter__left select,
  .main-filter__filter .filter__left .choices__inner,
  .main-filter__filter .filter__left input,
  .main-filter__filter .filter__right select,
  .main-filter__filter .filter__right .choices__inner,
  .main-filter__filter .filter__right input {
    font-size: 16px;
    line-height: 19px;
  }

  .main-filter__filter .filter__left > div > select,
  .main-filter__filter .filter__left > div .choices__inner,
  .main-filter__filter .filter__left > div .choices,
  .main-filter__filter .filter__left > div > input,
  .main-filter__filter .filter__right > div > select,
  .main-filter__filter .filter__right > div .choices__inner,
  .main-filter__filter .filter__right > div .choices,
  .main-filter__filter .filter__right > div > input {
    width: 81vw;
  }

  .main-filter__filter .filter__left > div .filter__selects > select,
  .main-filter__filter .filter__left > div .filter__selects .choices__inner,
  .main-filter__filter .filter__left > div .filter__selects .choices,
  .main-filter__filter .filter__right > div .filter__selects > select,
  .main-filter__filter .filter__right > div .filter__selects .choices__inner,
  .main-filter__filter .filter__right > div .filter__selects .choices {
    width: 100%;
  }

  .main-filter__filter .filter__buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-filter__filter .filter__buttons > .all-btn {
    display: block;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 13px 68px;
  }

  .main-filter__filter-mobile {
    padding: 20px;
    margin-bottom: 60px;
  }

  .main-filter__filter-mobile-top {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-filter__filter-mobile-top > .red-btn {
    padding: 16px 25px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }

  .main-filter__filter-mobile-top > .red-btn > svg {
    width: 22px;
    height: 22px;
  }

  .main-filter__filter-mobile-top > p {
    font-size: 14px;
    line-height: 16px;
  }

  .main-filter__filter-mobile-tabs > .tab-active {
    padding: 8px 14px;
  }

  .autoauction-online .title-products select {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    display: block;
  }

  .autoauction-online .CEO h3 {
    margin: 20px 0 12px;
  }

  .autoauction-online .CEO p {
    font-size: 14px;
  }

  .youtube h2 {
    margin-left: 30px;
  }

  .youtube h2 > svg {
    width: 32px;
    margin-bottom: -7px;
  }

  .youtube-slider .slide img {
    width: 270px;
    height: 160px;
  }

  .youtube-slider .slide .filter {
    width: 270px;
    height: 160px;
  }
}

@media screen and (min-width: 360px) {
  .main-filter__lists > ul.active {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 24px;
  }

  .main-filter__filter .filter__left > div > select,
  .main-filter__filter .filter__left > div .choices__inner,
  .main-filter__filter .filter__left > div .choices,
  .main-filter__filter .filter__left > div > input,
  .main-filter__filter .filter__right > div > select,
  .main-filter__filter .filter__right > div .choices__inner,
  .main-filter__filter .filter__right > div .choices,
  .main-filter__filter .filter__right > div > input {
    width: 100%;
  }

  .main-filter__filter-mobile-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main-filter__filter-mobile-top > .red-btn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 414px) {
  .main-filter__filter .filter__top {
    padding: 24px 32px;
  }

  .main-filter__filter .filter__left {
    padding: 52px 32px 0;
  }

  .main-filter__filter .filter__left > div {
    margin-bottom: 52px;
  }

  .main-filter__filter .filter__rating__content {
    max-width: 332px;
    -webkit-column-gap: 42px;
       -moz-column-gap: 42px;
            column-gap: 42px;
    row-gap: 24px;
  }

  .main-filter__filter .filter__color__content {
    max-width: 332px;
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
    row-gap: 24px;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 16px 88px;
  }

  .main-filter__filter-mobile {
    margin-bottom: 64px;
  }

  .main-filter__filter-mobile-top > .red-btn {
    padding: 18px 28px;
  }

  .main-filter__filter-mobile-top > p {
    max-width: 108px;
    font-size: 16px;
    line-height: 18px;
  }

  .main-filter__filter-mobile-tabs > .tab-active {
    padding: 8px 16px;
  }

  .autoauction-online .article-list__pages {
    margin-top: 28px;
  }

  .autoauction-online .interesting-cars,
  .autoauction-online .youtube {
    padding: 64px 0;
  }

  .autoauction-online .interesting-cars > .container,
  .autoauction-online .youtube > .container {
    width: 100vw;
  }

  .autoauction-online .CEO {
    margin: 64px 0;
  }

  .youtube {
    padding: 64px 0;
  }

  .youtube > .container {
    width: 100vw;
  }

  .youtube h2 {
    margin-left: 32px;
  }

  .youtube-slider {
    margin-left: 32px;
  }

  .youtube-slider .slide img {
    width: 300px;
    height: 180px;
  }

  .youtube-slider .slide .filter {
    width: 300px;
    height: 180px;
  }
}

@media screen and (min-width: 568px) {
  .main-filter__categories-select {
    margin-bottom: 25px;
  }

  .main-filter__lists > ul.active {
    width: 488px;
  }

  .main-filter__filter .filter__top {
    padding: 20px 40px;
  }

  .main-filter__filter .filter__left {
    padding: 52px 40px 0;
  }

  .main-filter__filter .filter__rating__content {
    max-width: 480px;
  }

  .main-filter__filter .filter__color__content {
    max-width: 480px;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    row-gap: 20px;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 16px 157px;
  }

  .main-filter__filter-mobile {
    padding: 24px;
  }

  .main-filter__filter-mobile-top {
    margin-bottom: 24px;
  }

  .main-filter__filter-mobile-top > .red-btn {
    padding: 18px 62px;
    font-size: 16px;
    line-height: 20px;
  }

  .main-filter__filter-mobile-top > .red-btn > svg {
    width: 24px;
    height: 24px;
  }

  .main-filter__filter-mobile-top > p {
    max-width: 200px;
  }

  .main-filter__filter-mobile-tabs > .tab-active {
    padding: 8px 20px;
  }

  .autoauction-online .CEO h3 {
    margin: 24px 0 16px;
  }

  .youtube h2 {
    margin-left: 40px;
  }

  .youtube-slider {
    margin-left: 40px;
  }

  .youtube-slider .slide img {
    width: 340px;
    height: 204px;
  }

  .youtube-slider .slide .filter {
    width: 340px;
    height: 204px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }

  .main-filter__categories-select {
    margin-bottom: 28px;
  }

  .main-filter__lists {
    margin-bottom: 48px;
  }

  .main-filter__lists > ul.active {
    width: 656px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 113px;
       -moz-column-gap: 113px;
            column-gap: 113px;
    row-gap: 24px;
  }

  .main-filter__filter input[type="text"],
  .main-filter__filter input[type="date"] {
    padding-top: 16px !important;
    -ms-flex-item-align: end;
        align-self: end;
  }

  .main-filter__filter .filter__top {
    padding: 28px 56px;
  }

  .main-filter__filter .filter__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .main-filter__filter .filter__left > div {
    margin-bottom: 0;
    padding: 15px 35px 21px;
    border-bottom: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
  }

  .main-filter__filter .filter__right > div {
    border-bottom: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__right > div:nth-child(2n-1) {
    border-right: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__right > div:last-child {
    grid-column: 1/3;
    padding: 80px 82px;
  }

  .main-filter__filter .filter__rating {
    border-bottom: none;
  }

  .main-filter__filter .filter__rating__content {
    max-width: 294px;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .main-filter__filter .filter__color {
    border-bottom: none;
  }

  .main-filter__filter .filter__color__content {
    max-width: 292px;
    grid-gap: 20px;
  }

  .main-filter__filter .filter__left select,
  .main-filter__filter .filter__left .choices__inner,
  .main-filter__filter .filter__left input,
  .main-filter__filter .filter__right select,
  .main-filter__filter .filter__right .choices__inner,
  .main-filter__filter .filter__right input {
    font-size: 15px;
    line-height: 18px;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 16px 125px;
  }

  .main-filter__filter-mobile {
    padding: 28px;
    margin-bottom: 80px;
  }

  .main-filter__filter-mobile-top {
    margin-bottom: 28px;
  }

  .main-filter__filter-mobile-top > .red-btn {
    padding: 19px 89px;
    font-size: 18px;
    line-height: 22px;
  }

  .main-filter__filter-mobile-top > .red-btn > svg {
    width: 28px;
    height: 28px;
  }

  .main-filter__filter-mobile-tabs > .tab-active {
    padding: 12px 24px;
  }

  .autoauction-online .auctions__notes-item {
    border-right: 1px solid #b3b3b3;
  }

  .autoauction-online .auctions__notes-text {
    border-left: 1px solid #b3b3b3;
  }

  .autoauction-online .article-list__pages {
    margin-top: 32px;
    grid-gap: 20px;
  }

  .autoauction-online .interesting-cars,
  .autoauction-online .youtube {
    padding: 80px 0;
  }

  .autoauction-online .interesting-cars > .container,
  .autoauction-online .youtube > .container {
    width: 100vw;
  }

  .autoauction-online .CEO {
    margin: 80px 0;
  }

  .autoauction-online .CEO p {
    font-size: 15px;
  }

  .youtube {
    padding: 80px 0;
  }

  .youtube > .container {
    width: 100vw;
  }

  .youtube h2 {
    margin-left: 56px;
  }

  .youtube h2 > svg {
    width: 47px;
    margin-bottom: -7px;
  }

  .youtube-slider {
    margin-left: 56px;
  }

  .youtube-slider .slide img {
    width: 400px;
    height: 240px;
  }

  .youtube-slider .slide .filter {
    width: 400px;
    height: 240px;
  }
}

@media screen and (min-width: 1024px) {
  .main-filter__filter {
    display: block;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    width: 100%;
  }

  .main-filter__filter .filter__top {
    display: none;
  }

  .main-filter__filter .filter__right > div:last-child {
    padding: 50px 282px;
  }

  .main-filter__filter .filter__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-filter__filter .filter__buttons > .clear-btn {
    margin-right: 0;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 13px 89px;
  }

  .main-filter__filter-mobile {
    display: none;
  }

  .autoauction-online .title-products p {
    display: block;
  }

  .autoauction-online .title-products select {
    display: none !important;
    width: 195px;
    font-size: 15px;
    line-height: 18px;
  }

  .autoauction-online .auctions__notes-item {
    border-right: none;
    border-bottom: 1px solid #b3b3b3;
  }
}

@media screen and (min-width: 1250px) {
  .main-filter__filter {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .main-filter__filter .filter__left > div {
    padding: 15px 53px 21px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-right: 1px solid rgba(21, 2, 2, 0.06);
  }

  .main-filter__filter .filter__right {
    grid-template-columns: 1fr;
    grid-template-rows: unset !important;
  }

  .main-filter__filter .filter__right > * {
    grid-column: 1/2;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    grid-gap: 15px 23px !important;
    padding: 50px 0;
  }

  .main-filter__filter .filter__right > div {
    max-width: 305px;
    padding: 0;
    margin: 0 auto;
    border-bottom: none;
    width: 100%;
  }

  .main-filter__filter .filter__right > div * {
    max-width: 305px;
  }

  .main-filter__filter .filter__right > div:nth-child(2n-1) {
    border-right: none;
  }

  .main-filter__filter .filter__right > div:last-child {
    padding: 0;
    margin-top: 0;
  }

  .main-filter__filter .filter__rating__content {
    max-width: 270px;
    -webkit-column-gap: 23px;
       -moz-column-gap: 23px;
            column-gap: 23px;
    row-gap: 15px;
  }

  .main-filter__filter .filter__color__content {
    max-width: 270px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 12px;
  }

  .main-filter__filter .filter__color__checkbox input[type=checkbox] + label {
    width: 24px;
    height: 24px;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 13px 55px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    line-height: 130%;
  }

  h2 {
    font-size: 36px;
  }

  .breadcrumbs {
    display: block;
  }

  .breadcrumbs-tablet {
    display: none;
  }

  .main-filter__lists {
    -webkit-column-gap: 68px;
       -moz-column-gap: 68px;
            column-gap: 68px;
  }

  .main-filter__lists > ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
    width: 100%;
  }

  .main-filter__lists > ul > li {
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 15px;
  }

  .autoauction-online .article-list__pages {
    margin-top: 30px;
  }

  .autoauction-online .interesting-cars,
  .autoauction-online .youtube {
    padding: 100px 0;
  }

  .autoauction-online .interesting-cars > .container,
  .autoauction-online .youtube > .container {
    width: 1200px;
  }

  .autoauction-online .CEO {
    margin: 100px 0;
  }

  .autoauction-online .CEO h3 {
    margin: 30px 0 15px;
  }

  .youtube {
    padding: 100px 0;
  }

  .youtube > .container {
    width: 1200px;
  }

  .youtube h2 {
    margin-left: 0;
  }

  .youtube-slider {
    margin-left: 0;
  }

  .youtube-slider .slide img {
    width: 376px;
    height: 212px;
  }

  .youtube-slider .slide .filter {
    width: 376px;
    height: 212px;
  }

  .youtube .arrow {
    top: -68px;
  }

  .youtube .arrow > img {
    width: 68px;
    height: 15px;
  }

  .youtube .arrow-prev {
    right: 103px;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 38px;
  }

  .main-filter__filter .filter__right > div:last-child {
    margin-top: 0;
  }

  .main-filter__filter .filter__rating__content {
    max-width: 305px;
  }

  .main-filter__filter .filter__color__content {
    max-width: 305px;
  }

  .main-filter__filter .filter__buttons > .red-btn {
    padding: 13px 69px;
  }

  .autoauction-online .interesting-cars,
  .autoauction-online .youtube {
    padding: 120px 0;
  }

  .autoauction-online .interesting-cars > .container,
  .autoauction-online .youtube > .container {
    width: 1345px;
  }

  .autoauction-online .CEO {
    margin: 120px 0;
  }

  .youtube {
    padding: 120px 0;
  }

  .youtube > .container {
    width: 1345px;
  }

  .youtube-slider .slide img {
    width: 425px;
    height: 240px;
  }

  .youtube-slider .slide .filter {
    width: 425px;
    height: 240px;
  }

  .youtube .arrow {
    top: -77px;
  }

  .youtube .arrow > img {
    width: 80px;
  }

  .youtube .arrow-prev {
    right: 120px;
  }
}

@media screen and (max-width: 1600px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0.04em;
  }

  h4 {
    font-size: 15px;
  }

  .main-filter {
    margin-top: 50px;
  }

  .main-filter__lists {
    margin-bottom: 40px;
    padding: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88.62vw;
  }

  h1 {
    letter-spacing: 0.01em;
  }

  .main-filter__filter {
    min-height: 100vh;
  }

  .main-filter__mods-list {
    grid-template-columns: repeat(6, 1fr);
  }

  .mobile-sort {
    display: block !important;
  }

  .desktop-sort {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85.8vw;
  }

  h1 {
    font-size: 42px;
    line-height: 120%;
  }

  h2 {
    margin: 0 auto 47px;
    font-size: 28px;
  }

  h4 {
    font-size: 15px;
  }

  .page-title {
    font-size: 32px;
  }

  .main-filter__lists > ul > li > a {
    position: static;
  }

  .main-filter__lists > ul > li > a .auctions__notes-text {
    right: 20px !important;
    bottom: unset !important;
    margin-bottom: 80px;
  }

  .main-filter__mods-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .container {
    width: 86vw;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.045em;
    margin-bottom: 19px;
  }

  .page-title {
    padding-bottom: 13px;
    font-size: 28px;
    margin-bottom: 40px;
  }

  .main-filter {
    margin-top: 40px;
  }

  .main-filter__mods-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 414px) {
  .container {
    width: 84.5vw;
  }

  h1 {
    font-size: 32px;
  }

  .auctions picture img {
    max-height: 230px;
    min-height: 230px;
    height: 230px;
  }

  .autoauction-online .interesting-cars,
  .autoauction-online .youtube {
    padding: 60px 0;
  }

  .autoauction-online .interesting-cars > .container,
  .autoauction-online .youtube > .container {
    width: 100vw;
  }

  .autoauction-online .CEO {
    margin: 60px 0;
  }

  .youtube {
    padding: 60px 0;
  }

  .youtube > .container {
    width: 100vw;
  }

  .youtube-slider {
    margin-left: 30px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }
}
@supports (-webkit-appearance:none){
.main-filter__filter .filter__right input[type=checkbox]:checked + label{background-image:url("../img/autoauction-online/checkmark.svg")}
.youtube-slider .slide .filter{background-image:url("../img/autoauction-online/play-icon.svg")}
}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1250px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px) and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
