@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}
