@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.benefits {
  padding: 120px 0;
  overflow: hidden;
}

.benefits-steps .benefits__item:nth-child(4) {
  width: 40%;
}

.benefits-steps .benefits__item:nth-child(5) {
  width: 40%;
}

.benefits .buy-car__step {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .buy-car__num {
  padding: 0;
}

.benefits .buy-car__content h4 {
  margin-bottom: 0;
}

.benefits h2 {
  margin-bottom: 60px;
}

.benefits__container {
  width: 1115px;
  margin: 0 auto;
  overflow: visible;
}

.benefits__list {
  padding-top: 0;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 45px 30px;
}

.benefits__list::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: #f0f0f0;
}

.benefits__list::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.benefits__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.benefits__item-content {
  border: 1px solid #b9b9b9;
  padding: 30px;
  width: 100%;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.04em;
  position: relative;
  height: 100%;
}

.benefits__item:last-child::after {
  border: 1px solid rgba(0, 0, 0, 0);
}

.benefits__brand-wrap {
  width: 100%;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}

.benefits__brand-wrap--first {
  border-bottom: none;
}

.benefits__brands {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.65fr 1fr 1fr 1fr 1fr 1fr 1.65fr;
  place-items: center;
  border-bottom: 1px solid #b9b9b9;
}

.benefits .empty {
  width: 100%;
  height: 100%;
}

.benefits__brand {
  width: 100%;
  height: 175px;
  display: grid;
  place-items: center;
}

.benefits__brand {
  border-left: 1px solid #b9b9b9;
}

.benefits__brand:nth-child(7n-5) {
  border-left: 0;
}

.benefits__brands > *:nth-child(n+8) {
  border-top: 1px solid #b9b9b9;
}

.benefits__number {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  font-size: 110px;
  line-height: 100%;
  letter-spacing: 0.045em;
  color: rgba(0, 0, 0, 0.03);
  line-height: 70%;
  width: 0.9ch;
}

.benefits__desc {
  border-top: 1px solid black;
  padding-top: 30px;
  margin-top: 120px;
}

.benefits__desc h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.045em;
}

.benefits__desc p {
  margin-bottom: 7px;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.benefits div.benefits {
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  main {
    padding-top: 70px;
  }

  .benefits {
    padding: 100px 0;
  }

  .benefits h2 {
    margin-bottom: 46px;
  }

  .benefits__container {
    width: 994px;
  }

  .benefits__brands {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .benefits__desc {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .benefits {
    padding: 80px 0;
  }

  .benefits__container {
    padding: 0 56px;
    width: 100%;
  }

  .benefits__brands {
    grid-template-columns: 1fr 1fr;
  }

  .benefits__brands .empty {
    display: none;
  }

  .benefits__brand {
    height: 135px;
  }

  .benefits__brand {
    border: none;
    border-top: 1px solid #b9b9b9;
    padding-right: 11.4%;
  }

  .benefits__brand:nth-child(2),
  .benefits__brand:nth-child(3) {
    border-top: none;
  }

  .benefits__brand:nth-child(2n) {
    border-right: 1px solid #b9b9b9;
    padding-right: 0;
    padding-left: 11.4%;
  }

  .benefits__desc {
    margin-top: 80px;
  }

  .benefits__desc p {
    font-size: 14px;
  }
}

@media screen and (max-width: 910px) {
  .benefits__item {
    width: 45% !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 56px;
  }

  .benefits {
    display: none;
  }

  .benefits__brand {
    height: 120px;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits {
    padding: 64px 0;
  }

  .benefits h2 {
    margin-bottom: 40px;
  }

  .benefits__container {
    padding: 0 40px;
  }

  .benefits__list {
    margin-bottom: 64px;
  }

  .benefits__item-content {
    width: 288px;
    padding: 12px 24px;
    font-size: 14px;
  }

  .benefits__desc {
    margin-top: 64px;
  }
}

@media screen and (max-width: 414px) {
  .benefits__container {
    padding: 0 32px;
  }

  .benefits__brand {
    height: 115px;
  }

  .benefits__desc {
    padding-top: 15px;
  }

  .benefits__desc h3 {
    font-size: 16px;
  }

  .benefits__desc p {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .benefits {
    padding: 60px 0;
  }

  .benefits__container {
    padding: 0 30px;
  }

  .benefits__list {
    margin-bottom: 60px;
  }

  .benefits__item-content {
    width: 280px;
    padding: 4px 19px;
  }

  .benefits__desc {
    margin-top: 60px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 910px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
