@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

/* Общие стили */

body {
  overflow-x: hidden;
}

.choices__list--dropdown {
  max-height: 10rem;
  overflow-y: scroll;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  scrollbar-color: #eee rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  height: 24px;
  background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: 96vw;
  width: 1345px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
  color: #150202;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
}

h1 {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.045em;
}

h2 {
  margin-bottom: 47px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.045em;
}

h3 {
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 0.11em;
}

h4 {
  font-weight: 700;
  letter-spacing: 0.045em;
}

ul {
  list-style: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 0.04rem;
}

.red-btn {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bc002d;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.breadcrumbs {
  display: none;
  margin: 40px 0 30px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li {
  position: relative;
  color: #bc002d;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

.breadcrumbs ul li::after {
  content: "/";
  margin: 0 9px;
  color: inherit;
  font-size: inherit;
}

.breadcrumbs ul li:last-child > a {
  color: #b5b5b5;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li > a {
  color: #bc002d;
  text-decoration: none;
}

.breadcrumbs ul li > a:hover {
  text-decoration: underline;
}

.breadcrumbs-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
  padding: 18px 24px;
  margin: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.page-title {
  border-bottom: 1px solid #150202;
  width: 100%;
  text-align: left;
  padding-bottom: 21px;
}

.benefits {
  padding: 120px 0;
  overflow: hidden;
}

.benefits h2 {
  margin-bottom: 60px;
}

.benefits__container {
  width: 1115px;
  margin: 0 auto;
  overflow: visible;
}

.benefits__list {
  width: 142%;
  padding-top: 0;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.benefits__list::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: #f0f0f0;
}

.benefits__list::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.benefits__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item-content {
  border: 1px solid #b9b9b9;
  padding: 30px;
  width: 425px;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.04em;
  position: relative;
}

.benefits__item::after {
  margin: 0 35px;
  content: "";
  width: 195px;
  border: 1px solid #b9b9b9;
  display: block;
}

.benefits__item:last-child::after {
  border: 1px solid rgba(0, 0, 0, 0);
}

.benefits__brand-wrap {
  width: 100%;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}

.benefits__brand-wrap--first {
  border-bottom: none;
}

.benefits__brands {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.65fr 1fr 1fr 1fr 1fr 1fr 1.65fr;
  place-items: center;
  border-bottom: 1px solid #b9b9b9;
}

.benefits .empty {
  width: 100%;
  height: 100%;
}

.benefits__brand {
  width: 100%;
  height: 175px;
  display: grid;
  place-items: center;
}

.benefits__brand {
  border-left: 1px solid #b9b9b9;
}

.benefits__brand:nth-child(7n-5) {
  border-left: 0;
}

.benefits__brands > *:nth-child(n+8) {
  border-top: 1px solid #b9b9b9;
}

.benefits__number {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  font-size: 110px;
  line-height: 100%;
  letter-spacing: 0.045em;
  color: rgba(0, 0, 0, 0.03);
  line-height: 70%;
  width: 0.9ch;
}

.benefits__desc {
  border-top: 1px solid black;
  padding-top: 30px;
  margin-top: 120px;
}

.benefits__desc h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.045em;
}

.benefits__desc p {
  margin-bottom: 7px;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.benefits div.benefits {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    line-height: 130%;
  }

  h2 {
    font-size: 36px;
  }

  .breadcrumbs {
    display: block;
  }

  .breadcrumbs-tablet {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 1600px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0.04em;
  }

  h4 {
    font-size: 15px;
  }

  .benefits {
    padding: 100px 0;
  }

  .benefits h2 {
    margin-bottom: 46px;
  }

  .benefits__container {
    width: 994px;
  }

  .benefits__list {
    margin-left: -103px;
    width: 132%;
    margin-bottom: 100px;
  }

  .benefits__item::after {
    width: 110px;
  }

  .benefits__brands {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .benefits__desc {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88.62vw;
  }

  h1 {
    letter-spacing: 0.01em;
  }

  .benefits {
    padding: 80px 0;
  }

  .benefits__container {
    padding: 0 56px;
    width: 100%;
  }

  .benefits__list {
    margin-left: 0;
    margin-bottom: 80px;
    width: 125%;
  }

  .benefits__item::after {
    width: 100px;
  }

  .benefits__brands {
    grid-template-columns: 1fr 1fr;
  }

  .benefits__brands .empty {
    display: none;
  }

  .benefits__brand {
    height: 135px;
  }

  .benefits__brand {
    border: none;
    border-top: 1px solid #b9b9b9;
    padding-right: 11.4%;
  }

  .benefits__brand:nth-child(2),
  .benefits__brand:nth-child(3) {
    border-top: none;
  }

  .benefits__brand:nth-child(2n) {
    border-right: 1px solid #b9b9b9;
    padding-right: 0;
    padding-left: 11.4%;
  }

  .benefits__desc {
    margin-top: 80px;
  }

  .benefits__desc p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85.8vw;
  }

  h1 {
    font-size: 42px;
    line-height: 120%;
  }

  h2 {
    margin: 0 auto 47px;
    font-size: 28px;
  }

  h4 {
    font-size: 15px;
  }

  .page-title {
    font-size: 32px;
  }

  .benefits__item::after {
    width: 40px;
  }

  .benefits__brand {
    height: 120px;
  }
}

@media screen and (max-width: 568px) {
  .container {
    width: 86vw;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.045em;
    margin-bottom: 19px;
  }

  .page-title {
    padding-bottom: 13px;
    font-size: 28px;
    margin-bottom: 40px;
  }

  .benefits {
    padding: 64px 0;
  }

  .benefits h2 {
    margin-bottom: 40px;
  }

  .benefits__container {
    padding: 0 40px;
  }

  .benefits__list {
    margin-bottom: 64px;
  }

  .benefits__item-content {
    width: 288px;
    padding: 12px 24px;
    font-size: 14px;
  }

  .benefits__item::after {
    width: 24px;
  }

  .benefits__desc {
    margin-top: 64px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    width: 84.5vw;
  }

  h1 {
    font-size: 32px;
  }

  .benefits__container {
    padding: 0 32px;
  }

  .benefits__brand {
    height: 115px;
  }

  .benefits__desc {
    padding-top: 15px;
  }

  .benefits__desc h3 {
    font-size: 16px;
  }

  .benefits__desc p {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 24px;
  }

  .benefits {
    padding: 60px 0;
  }

  .benefits__container {
    padding: 0 30px;
  }

  .benefits__list {
    margin-bottom: 60px;
  }

  .benefits__item-content {
    width: 280px;
    padding: 4px 19px;
  }

  .benefits__item::after {
    width: 20px;
  }

  .benefits__desc {
    margin-top: 60px;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px) and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
