@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.contacts .page-title {
  margin-bottom: 47px;
}

.contacts__info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  grid-gap: 0 50px;
}

.contacts__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 50px 60px;
  border-right: 1px solid #e5e5e5;
  grid-column: 1/2;
  grid-row: 1/3;
}

.contacts__connect a {
  color: #150202;
  text-decoration: none;
}

.contacts__item-num a {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.contacts__mes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.contacts__item-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #b5b5b5;
  padding-top: 4px;
}

.contacts__mail {
  color: #5a9cff;
}

.contacts__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 2/3;
  grid-row: 1/2;
}

.contacts__loc-item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 12px;
}

.contacts__loc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.contacts__loc-link {
  color: #5a9cff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  margin-top: 8px;
}

.contacts__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px 40px;
  margin-top: 18px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.contacts__soc a {
  font-size: 12px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #150202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 12px;
  white-space: nowrap;
}

.contacts__managers {
  width: 100%;
  place-self: start;
  grid-column: 1/3;
  grid-row: 3/4;
  padding-top: 40px;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
}

.contacts__managers-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #b5b5b5;
  margin-bottom: 24px;
}

.contacts__managers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 58px;
}

.contacts__manager {
  display: grid;
  grid-gap: 4px 13px;
}

.contacts__manager picture {
  grid-column: 1/2;
  grid-row: 1/3;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  width: 40px;
  height: 40px;
}

.contacts__manager picture img {
  width: 100%;
  height: 100%;
}

.contacts__manager-name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.contacts__manager-number {
  grid-column: 2/3;
  grid-row: 2/3;
}

.contacts__manager-number a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #150202;
  text-decoration: none;
}

.contacts .flex {
  height: 260px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.contacts .flex > * {
  height: 100%;
}

.contacts .flex .main-filter__lists {
  border-radius: 0;
}

.contacts .contacts-map {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.contacts .contacts-map > * {
  height: 100%;
}

.contacts .main-filter__lists {
  min-width: 500px;
  margin-bottom: 0;
}

.contacts .main-filter__list-category {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  row-gap: 10px !important;
}

.contacts .main-filter__list-category.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.contacts .main-filter__categories {
  margin-top: 30px;
}

.contacts__big-manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.contacts__big-manager a {
  text-decoration: none;
  color: inherit;
}

.contacts__big-manager-city {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.contacts__big-manager picture {
  grid-column: 1/2;
  grid-row: 1/3;
  overflow: hidden;
  display: block;
  border: 1px solid #e5e5e5;
  width: 140px;
  height: 155px;
}

.contacts__big-manager picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__big-manager-name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.contacts__big-manager-number {
  grid-column: 2/3;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.contacts__big-manager-number a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #150202;
  text-decoration: none;
}

.contacts__banner {
  margin: 120px auto;
  display: block;
  width: 100%;
  max-width: 99vw;
  width: 1345px;
}

.contacts__banner img {
  width: 100%;
}

.contacts > .contacts__banner {
  margin-bottom: 0;
}

.contacts .bank-details {
  max-width: 1042px;
  background: white;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.contacts .bank-details > h3 {
  margin-bottom: 30px;
}

.contacts .bank-details > ul > li > span {
  display: block;
}

.contacts .bank-details > ul > li > span:first-child {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.045em;
  margin-bottom: 4px;
}

.contacts .bank-details > ul > li > span:nth-child(2) {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.contacts .bank-details__title {
  color: #5a9cff;
}

.contacts .main-filter__category {
  font-size: 15px !important;
}

@media screen and (min-width: 0) {
  .contacts__bank-details {
    margin: 60px 0;
  }

  .contacts .bank-details {
    padding: 30px 22px;
  }

  .contacts .bank-details > ul {
    display: block;
  }

  .contacts .bank-details > ul > li {
    margin-bottom: 14px;
  }

  .contacts .bank-details > ul > li:nth-child(1) {
    grid-row: auto;
  }

  .contacts .bank-details > ul > li:nth-child(2) {
    grid-row: auto;
  }
}

@media screen and (min-width: 414px) {
  .contacts__bank-details {
    margin: 64px 0;
  }

  .contacts .bank-details {
    padding: 32px 20px;
  }
}

@media screen and (min-width: 568px) {
  .contacts .bank-details {
    padding: 40px 24px;
  }

  .contacts .bank-details > ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 26px;
    grid-row-gap: 20px;
  }

  .contacts .bank-details > ul > li {
    margin: 0;
  }

  .contacts .bank-details > ul > li:nth-child(1) {
    grid-row: 1/3;
  }
}

@media screen and (min-width: 768px) {
  .contacts__bank-details {
    margin: 80px 0;
  }

  .contacts .bank-details {
    padding: 48px 28px;
  }

  .contacts .bank-details > ul {
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 41px;
  }

  .contacts .bank-details > ul > li:nth-child(2) {
    grid-row: 3/5;
  }
}

@media screen and (min-width: 1024px) {
  .contacts .bank-details {
    padding: 48px;
  }

  .contacts .bank-details > ul {
    grid-column-gap: 67px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contacts .bank-details > ul > li:nth-child(1) {
    grid-row: auto;
  }

  .contacts .bank-details > ul > li:nth-child(2) {
    grid-row: auto;
  }
}

@media screen and (min-width: 1440px) {
  .contacts__bank-details {
    margin: 100px 0;
  }

  .contacts .bank-details {
    padding: 52px;
  }

  .contacts .bank-details > ul {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 22px;
    grid-column-gap: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .contacts__bank-details {
    margin: 120px 0;
  }

  .contacts .bank-details {
    padding: 60px;
  }
}

@media screen and (max-width: 1440px) {
  main {
    padding-top: 70px;
  }

  .contacts__connect {
    grid-gap: 50px 46px;
  }

  .contacts__soc {
    grid-gap: 15px 27px;
  }

  .contacts__managers {
    padding-top: 36px;
    margin-top: 36px;
  }

  .contacts__banner {
    width: 1200px;
    margin: 100px auto;
  }
}

@media screen and (max-width: 1024px) {
  .contacts__connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px 40px;
    padding-right: 40px;
  }

  .contacts__item-num a {
    font-size: 20px;
    line-height: 24px;
  }

  .contacts__soc {
    margin-top: 16px;
  }

  .contacts__managers {
    padding-top: 32px;
    margin-top: 32px;
  }

  .contacts__managers-title {
    margin-bottom: 20px;
  }

  .contacts__manager {
    grid-gap: 0px 11px;
  }

  .contacts .flex {
    display: block;
    height: unset;
  }

  .contacts .contacts-map {
    height: 200px;
  }

  .contacts__big-manager {
    grid-gap: 0px 11px;
  }

  .contacts__banner {
    width: 88.62vw;
    margin: 80px auto;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 56px;
  }

  .contacts__info {
    grid-template-columns: 2.4fr 1fr;
  }

  .contacts__connect {
    grid-column: 1/3;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 27px 38px;
    padding-right: 0;
    border-right: 0;
  }

  .contacts__loc {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: end start;
    margin-top: 65px;
  }

  .contacts__loc h3 {
    font-size: 20px;
  }

  .contacts__loc-text {
    max-width: 310px;
  }

  .contacts__soc {
    grid-column: 1/2;
    grid-row: 3/4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-self: start;
  }

  .contacts__managers {
    grid-column: 2/3;
    grid-row: 2/4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts__managers-title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 13px;
  }

  .contacts__managers-title {
    margin-bottom: 16px;
  }

  .contacts__managers-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 32px;
  }

  .contacts__banner {
    width: 85.8vw;
    margin: 63px auto;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .contacts__loc h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: start;
    grid-gap: 32px;
  }

  .contacts__info > * {
    margin-top: 0;
  }

  .contacts__connect {
    display: grid;
    grid-gap: 23px 58px;
  }

  .contacts__item-desc {
    font-size: 12px;
  }

  .contacts__loc {
    place-self: start;
  }

  .contacts__loc-text {
    max-width: unset;
  }

  .contacts__soc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 6px;
    grid-gap: 15px 40px;
  }

  .contacts__managers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    place-self: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 24px 77px;
  }

  .contacts__manager {
    grid-gap: 4px 11px;
  }

  .contacts .main-filter__lists {
    min-width: 100%;
  }

  .contacts__big-manager {
    grid-gap: 4px 11px;
  }

  .contacts__banner {
    width: 86vw;
  }
}

@media screen and (max-width: 414px) {
  .contacts__connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 16px;
    border-bottom: 1px solid #e5e5e5;
  }

  .contacts__soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -24px;
  }

  .contacts__banner {
    width: 100%;
    margin: 63px 0;
  }
}

@media screen and (max-width: 360px) {
  .contacts__connect {
    grid-gap: 18px;
    height: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 28px;
  }

  .contacts__item-num a {
    font-size: 18px;
    line-height: 22px;
  }

  .contacts__item-desc {
    font-size: 12px;
    line-height: 14px;
  }

  .contacts__loc-text {
    font-size: 14px;
    line-height: 20px;
  }

  .contacts__soc {
    margin-top: -30px;
    grid-gap: 7px;
  }

  .contacts__managers {
    padding-top: 23px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px) and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
