@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.feedback {
  background-size: cover !important;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 52, 0.8)), to(rgba(52, 52, 52, 0.8))), url("../img/autoauction-online/feedback-back.png") center no-repeat;
  background: -o-linear-gradient(bottom, rgba(52, 52, 52, 0.8), rgba(52, 52, 52, 0.8)), url("../img/autoauction-online/feedback-back.png") center no-repeat;
  background: linear-gradient(0deg, rgba(52, 52, 52, 0.8), rgba(52, 52, 52, 0.8)), url("../img/autoauction-online/feedback-back.png") center no-repeat;
  color: white;
}

.feedback p {
  line-height: 150%;
  letter-spacing: 0.04em;
}

.feedback form > .red-btn {
  border: none;
}

.feedback__fields {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.04em;
}

.feedback__fields > input {
  background: none;
  border: 1px solid white;
  color: white;
}

.feedback__fields > input::-moz-placeholder {
  color: white;
}

.feedback__fields > input::-webkit-input-placeholder {
  color: white;
}

.feedback__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-gap: 10px;
}

.feedback__agreement > input[type=checkbox] {
  display: none;
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid white;
}

.feedback__agreement > input[type=checkbox]:checked + label {
  background-image: url("../img/autoauction-online/checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.feedback__agreement > input[type=checkbox] + label {
  width: 14px;
  height: 14px;
  background: none;
  border: 1px solid white;
}

.feedback__agreement label {
  display: inline-block;
  max-width: 216px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.feedback__agreement label > a {
  text-decoration: none;
  color: #5a9cff;
}

.feedback__agreement label > a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 0) {
  .feedback form > .red-btn {
    margin: 0 auto;
    padding: 14px 87px;
  }

  .feedback__fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 26px;
    grid-gap: 20px;
  }

  .feedback__agreement {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 24px;
  }
}

@media screen and (min-width: 414px) {
  .feedback {
    padding: 64px 0;
  }

  .feedback p {
    max-width: 324px;
    margin: 0 auto 40px;
    font-size: 14px;
    text-align: center;
  }

  .feedback form > .red-btn {
    padding: 16px 108px;
  }

  .feedback__fields > input {
    width: 350px;
    margin: 0 auto;
    padding: 16px 20px;
  }
}

@media screen and (min-width: 568px) {
  .feedback p {
    max-width: 408px;
  }
}

@media screen and (min-width: 768px) {
  .feedback {
    padding: 80px 0;
    font-size: 12px;
  }

  .feedback h2 {
    text-align: left;
    margin-bottom: 15px;
  }

  .feedback p {
    max-width: 473px;
    margin: 0 0 48px;
    font-size: 16px;
    text-align: left;
  }

  .feedback form {
    max-width: 656px;
  }

  .feedback form > .red-btn {
    margin: 0;
    padding: 16px 87px;
  }

  .feedback__fields {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .feedback__fields > input {
    width: 310px;
    margin: 0 0 28px;
    padding: 16px 20px;
  }

  .feedback__agreement {
    margin: 0;
  }

  .feedback__agreement label {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 100px 0;
    font-size: 15px;
  }

  .feedback > .container {
    padding-left: 111px;
  }

  .feedback p {
    max-width: 507px;
    margin-bottom: 46px;
  }

  .feedback form {
    max-width: 613px;
  }

  .feedback form > .red-btn {
    padding: 12px 71px;
  }

  .feedback__fields > input {
    width: 268px;
    margin-bottom: 31px;
    padding: 10px 15px;
  }

  .feedback__agreement label {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .feedback {
    padding: 120px 0;
  }
}

@media screen and (max-width: 768px) {
  .feedback h2 {
    margin-bottom: 20px;
  }

  .feedback form {
    max-width: 100vw;
  }
}

@media screen and (max-width: 414px) {
  .feedback {
    padding: 60px 0;
  }

  .feedback p {
    max-width: 300px;
    margin: 0 auto 40px;
    font-size: 14px;
    text-align: center;
  }

  .feedback__fields > input {
    width: 300px;
    margin: 0 auto;
    padding: 16px 20px;
  }
}
@supports (-webkit-appearance:none){
.feedback{background:-webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 52, 0.8)), to(rgba(52, 52, 52, 0.8))), url("../img/autoauction-online/feedback-back.webp") center no-repeat}
.feedback{background:-o-linear-gradient(bottom, rgba(52, 52, 52, 0.8), rgba(52, 52, 52, 0.8)), url("../img/autoauction-online/feedback-back.webp") center no-repeat}
.feedback{background:linear-gradient(0deg, rgba(52, 52, 52, 0.8), rgba(52, 52, 52, 0.8)), url("../img/autoauction-online/feedback-back.webp") center no-repeat}
.feedback__agreement > input[type=checkbox]:checked + label{background-image:url("../img/autoauction-online/checkmark.svg")}
}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}
