@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

/* Общие стили */

body {
  overflow-x: hidden;
}

.choices__list--dropdown {
  max-height: 10rem;
  overflow-y: auto !important;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  scrollbar-color: #eee rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  height: 24px;
  background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: 96vw;
  width: 1345px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
  color: #150202;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
}

h1 {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.045em;
}

h2 {
  margin-bottom: 47px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.045em;
}

h3 {
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 0.11em;
}

h4 {
  font-weight: 700;
  letter-spacing: 0.045em;
}

ul {
  list-style: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 0.04rem;
}

.red-btn {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bc002d;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.breadcrumbs {
  display: none;
  margin: 40px 0 30px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li {
  position: relative;
  color: #bc002d;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

.breadcrumbs ul li::after {
  content: "/";
  margin: 0 9px;
  color: inherit;
  font-size: inherit;
}

.breadcrumbs ul li:last-child > a {
  color: #b5b5b5;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li > a {
  color: #bc002d;
  text-decoration: none;
}

.breadcrumbs ul li > a:hover {
  text-decoration: underline;
}

.breadcrumbs-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
  padding: 18px 24px;
  margin: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.page-title {
  border-bottom: 1px solid #150202;
  width: 100%;
  text-align: left;
  padding-bottom: 21px;
}

.header {
  background: black;
  color: white;
  padding: 16px;
}

.header__brands {
  grid-column: 1/4;
  font-size: 13px;
  line-height: 17px;
  width: 420px;
}

.header .vis {
  display: block;
}

.header__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.header__city svg {
  width: 17px;
}

.header__hover {
  padding: 40px 60px;
  background: #060a0e;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 10;
}

.header__hover-1 .header__hover-content,
.header__hover-2 .header__hover-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header__hover-1 .all-btn,
.header__hover-2 .all-btn {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-column: 4/6;
  place-self: end;
}

.header__hover-2 {
  left: 100px;
}

.header__hover-3 {
  width: 736px;
  left: 200px;
}

.header__hover-3 .header__hover-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
}

.header__hover-3 .header__hover-content > *:nth-child(2) {
  padding-left: 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.header__hover .all-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bc002d;
  text-decoration: none;
}

.header__hover-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.header__hover-title h3 {
  margin-bottom: 4px;
}

.header__hover-desc {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #b3b3b3;
}

.header__hover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 50px;
}

.header__hover-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 14px;
}

.header__hover-col-title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.045em;
  margin-bottom: 10px;
  color: #c3c3c3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__hover-col-title img {
  height: 14px;
}

.header__hover-col-item {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.045em;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 33px;
  position: relative;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 32px;
}

.header__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.045em;
  color: white;
  text-decoration: none;
  z-index: 5;
  padding-bottom: 35px;
  margin-bottom: -35px;
}

.header__nav a:hover svg,
.header__nav a.hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__nav a svg {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 25px;
}

.header__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 18px;
}

.header__soc-mob {
  display: none;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 4px;
}

.header__phone-up {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: right;
  white-space: nowrap;
}

.header__phone-down {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #b9b9b9;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 44px;
    line-height: 130%;
  }

  h2 {
    font-size: 36px;
  }

  .breadcrumbs {
    display: block;
  }

  .breadcrumbs-tablet {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 1600px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0.04em;
  }

  h4 {
    font-size: 15px;
  }

  .header__nav {
    display: none;
  }

  .header__nav a {
    font-size: 14px;
    white-space: nowrap;
  }

  .header__contacts {
    grid-gap: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88.62vw;
  }

  h1 {
    letter-spacing: 0.01em;
  }

  .header__hover {
    display: none !important;
  }

  .header__soc {
    display: none;
  }

  .header__soc-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__phone {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85.8vw;
  }

  h1 {
    font-size: 42px;
    line-height: 120%;
  }

  h2 {
    margin: 0 auto 47px;
    font-size: 28px;
  }

  h4 {
    font-size: 15px;
  }

  .page-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 568px) {
  .container {
    width: 86vw;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.045em;
    margin-bottom: 19px;
  }

  .page-title {
    padding-bottom: 13px;
    font-size: 28px;
    margin-bottom: 40px;
  }

  .header__city {
    display: none;
  }

  .header__soc-mob {
    grid-gap: 25px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    width: 84.5vw;
  }

  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px) and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
