@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.main-filter__category {
  width: inherit;
  display: grid;
  padding: 12px 0 15px !important;
  place-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-bottom: none !important;
  border-radius: 10px 10px 0 0;
  font-size: 18px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.5);
}

.main-filter__category:hover {
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 -12px 12px rgba(0, 0, 0, 0.03);
          box-shadow: 0 -12px 12px rgba(0, 0, 0, 0.03);
}

.main-filter__category.active {
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  background: white;
  margin-top: -5px;
  padding-bottom: 20px !important;
}

.main-filter__categories-tabs {
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100% !important;
  display: none;
}

.main-filter__categories .categories-tabs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.main-filter__categories .categories-tabs .category {
  padding-bottom: 6px;
  margin-bottom: 0;
  font-size: 20px;
  border-bottom: 1px solid inherit;
}

.main-filter__categories .categories-tabs .category:hover,
.main-filter__categories .categories-tabs .category.active {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.main-filter__categories .categories-select {
  margin-bottom: 0;
}

.main-filter__categories .categories-select > select {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #150202;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.main-filter__categories .categories-select > select:focus-visible {
  outline: none;
}

.main-filter__categories .categories-line {
  border-left: 1px solid #b9b9b9;
}

.main-filter__lists {
  position: relative;
  padding: 20px 20px 15px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
}

.main-filter__lists-more {
  display: none;
}

.main-filter__lists > ul {
  list-style: none;
}

.main-filter__lists > ul > li,
.main-filter__lists > div > li {
  letter-spacing: 0.045em;
}

.main-filter__lists > ul > li > a,
.main-filter__lists > div > li > a {
  color: black;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.main-filter__lists > ul > li > a .auctions__notes,
.main-filter__lists > div > li > a .auctions__notes {
  position: static;
  display: inline-block;
  padding: 0 !important;
}

.main-filter__lists > ul > li > a .auctions__notes-item,
.main-filter__lists > div > li > a .auctions__notes-item {
  padding: 0 0 0 2px !important;
}

.main-filter__lists > ul > li > a .auctions__notes-text,
.main-filter__lists > div > li > a .auctions__notes-text {
  bottom: 27px !important;
  right: -90px !important;
  white-space: normal;
  z-index: 111;
}

.main-filter__lists > ul > li > a:hover,
.main-filter__lists > div > li > a:hover {
  text-decoration: underline;
}

.main-filter__lists .auction {
  background-color: white;
  color: #666666;
  margin: 0 auto;
}

.main-filter__lists .auction-first {
  padding-top: 0;
}

.main-filter__lists .auction__content {
  display: block;
}

.main-filter__lists .auction__content .auctions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-filter__lists .auctions__content {
  border: 1px solid #343434;
}

.main-filter__lists .auctions__background {
  color: #343434;
  opacity: 0.03;
}

.main-filter__lists .auctions__model {
  color: #150202;
  opacity: 0.5;
}

.main-filter__lists .auctions__model::before {
  background-color: #666666;
}

.main-filter__lists .auctions__price {
  border-top: 1px solid #343434;
  border-left: 1px solid #343434;
}

.main-filter__lists .auctions__notes svg > path {
  fill: #b5b5b5;
}

.main-filter__lists .auctions__watch-more {
  color: #b5b5b5 !important;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}

.main-filter__lists .auctions__notes {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  left: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none !important;
}

.main-filter__lists .auctions__notes-text {
  display: none;
}

.main-filter__lists .auctions__notes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 21px;
  grid-gap: 20px;
  border: none !important;
}

.main-filter__lists .auctions__notes-item:hover .auctions__notes-text {
  position: absolute;
  bottom: 40px;
  left: -20px;
  background: white;
  display: block;
  border: 1px solid #999999;
  width: 250px;
  padding: 10px 13px;
  border-radius: 5px;
}

.main-filter__lists .auctions__notes-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.045em;
  padding-left: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

@media screen and (min-width: 0) {
  .main-filter__categories-select {
    margin-bottom: 25px;
  }

  .main-filter__categories .categories-tabs {
    display: none;
  }

  .main-filter__categories .categories-select > select {
    padding-bottom: 10px;
    width: 100%;
    font-size: 18px;
  }

  .main-filter__lists {
    margin-bottom: 40px;
  }

  .main-filter__lists > ul,
  .main-filter__lists > div {
    display: none;
  }

  .main-filter__lists > ul.active,
  .main-filter__lists > div.active {
    max-width: 100% !important;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-filter__lists > ul > li,
  .main-filter__lists > div > li {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 360px) {
  .main-filter__lists > ul.active,
  .main-filter__lists > div.active {
    width: 100%;
    margin: 0 auto;
    row-gap: 24px;
  }
}

@media screen and (min-width: 414px) {
  .main-filter__categories .categories-select > select {
    padding-bottom: 12px;
    width: 350px;
    font-size: 18px;
  }
}

@media screen and (min-width: 568px) {
  .main-filter__categories-select {
    margin-bottom: 25px;
  }

  .main-filter__categories .categories-select > select {
    width: 488px;
  }

  .main-filter__lists > ul.active,
  .main-filter__lists > div.active {
    max-height: unset;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: unset !important;
  }
}

@media screen and (min-width: 768px) {
  .main-filter__categories .categories-select > select {
    width: 656px;
    padding-bottom: 15px;
    font-size: 24px;
  }

  .main-filter__lists {
    margin-bottom: 48px;
  }

  .main-filter__lists > ul.active,
  .main-filter__lists > div.active {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 113px;
       -moz-column-gap: 113px;
            column-gap: 113px;
    row-gap: 24px;
  }

  .main-filter__lists .auctions__notes-item {
    border-right: 1px solid #b3b3b3;
  }

  .main-filter__lists .auctions__notes-text {
    border-left: 1px solid #b3b3b3;
  }
}

@media screen and (min-width: 1024px) {
  .main-filter__categories-tabs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .main-filter__categories-select {
    margin-bottom: 28px;
    display: none;
  }

  .main-filter__lists > ul.active,
  .main-filter__lists > div.active {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 113px;
       -moz-column-gap: 113px;
            column-gap: 113px;
    row-gap: 24px;
  }

  .main-filter__lists .auctions__notes-item {
    border-right: none;
    border-bottom: 1px solid #b3b3b3;
  }
}

@media screen and (min-width: 1440px) {
  .main-filter__categories .categories-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1177px;
  }

  .main-filter__categories .categories-select {
    display: none;
  }

  .main-filter__categories .categories-line {
    height: 25px;
    margin: 0 36px;
  }

  .main-filter__lists {
    -webkit-column-gap: 68px;
       -moz-column-gap: 68px;
            column-gap: 68px;
  }

  .main-filter__lists > ul.active,
  .main-filter__lists > div.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }

  .main-filter__lists > ul > li,
  .main-filter__lists > div > li {
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .main-filter__categories .categories-line {
    height: 38px;
  }
}

@media screen and (max-width: 1440px) {
  .main-filter__categories .categories-tabs .category {
    font-size: 18px;
  }

  .main-filter__lists {
    margin-bottom: 40px;
    padding: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 910px) {
  .main-filter__lists .auctions__notes {
    right: -10px;
    bottom: 20px;
    left: unset;
    gap: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .main-filter__lists .auctions__notes {
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .main-filter__lists .auctions__notes-text {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    width: 250px;
    left: unset !important;
    right: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .main-filter__lists > ul > li > a,
  .main-filter__lists > div > li > a {
    position: static;
  }

  .main-filter__lists > ul > li > a .auctions__notes-text,
  .main-filter__lists > div > li > a .auctions__notes-text {
    right: 20px !important;
    bottom: unset !important;
    margin-bottom: 80px;
  }

  .main-filter__lists .auctions__notes-item {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  .main-filter__lists .auctions__notes-item:last-child {
    border: none;
  }

  .main-filter__lists .auctions__notes-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 568px) {
  .main-filter__lists {
    max-height: 260px;
    overflow-y: hidden;
    padding-bottom: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
  }

  .main-filter__lists-more {
    width: 98%;
    position: absolute;
    bottom: 0;
    display: grid;
    place-items: center;
    padding: 6px 6px 10px;
    background: white;
    margin: 0 1% 0;
  }

  .main-filter__lists-more .more,
  .main-filter__lists-more .less {
    cursor: pointer;
    padding: 10px 15px;
    background: #bc002d;
    color: white;
    border-radius: 5px;
  }

  .main-filter__lists-more .less {
    display: none;
  }

  .main-filter__lists-more .more {
    display: block;
  }

  .main-filter__lists ul {
    max-height: 100%;
    overflow: hidden;
  }

  .main-filter__lists.open {
    max-height: 900px;
  }

  .main-filter__lists.open .more {
    display: none;
  }

  .main-filter__lists.open .less {
    display: block;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 910px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}
