@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.main-filter__mods {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
  margin-bottom: 30px;
}

.main-filter__mods .h2 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.main-filter__mods-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
  gap: 10px;
  height: 50px;
  overflow: hidden;
}

.main-filter__mods-list.active {
  height: unset;
}

.main-filter__mods-show {
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

.main-filter__mods-show .hide {
  display: none;
}

.main-filter__mods-show.active .show {
  display: none;
}

.main-filter__mods-show.active .hide {
  display: inline-block;
}

@media screen and (min-width: 568px) {
  .main-filter__mods {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .main-filter__mods-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .main-filter__mods-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .main-filter__mods-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}
