@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.main-s {
  background-image: url("../img/main/bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding-top: 140px;
}

.main-s .choices__list--dropdown {
  max-height: 10rem;
  overflow: scroll;
}

.main-s .m-feedback {
  width: 300px;
  margin-top: 51px;
  display: none;
}

.main-s .m-feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-s .m-feedback form input[type="tel"] {
  background: none;
  border: 1px solid white;
}

.main-s .m-feedback form input {
  width: 100% !important;
  color: white;
}

.main-s .m-feedback form input::-moz-placeholder {
  color: white;
}

.main-s .m-feedback form input::-webkit-input-placeholder {
  color: white;
}

.main-s .m-feedback__agreement {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.main-s .m-feedback__agreement a {
  color: #5a9cff;
  text-decoration: none;
}

.main-s .m-feedback .red-btn {
  padding: 14px 87px;
}

.main-s .o {
  border-radius: 50%;
  background: #bc002d;
  height: .55em;
  width: .55em;
  display: inline-block;
  margin: 0 4px;
}

.main-s .container {
  display: grid;
}

.main-s__title {
  grid-column: 1/2;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
}

.main-s__desc {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.18em;
  color: rgba(255, 255, 255, 0.3);
}

.main-s__k-more {
  margin-top: 40px;
  padding: 12px 39px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.main-s__scroll {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main-s__scroll svg {
  height: 150px;
}

.main-s__soc {
  place-self: flex-start end;
  grid-row: 1/2;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-s__form {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  color: #150202;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
}

.main-s__form > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 1px solid #150202;
  padding: 34px 45px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  width: 100%;
}

.main-s__form > * h4 {
  margin-top: 11px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
}

.main-s__form .choices {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0;
  width: 195px;
}

.main-s__form .choices__inner {
  background: none;
  border: none;
  border-bottom: 1px solid #150202 !important;
}

.main-s__form .choices__list-c {
  padding-left: 0;
}

.main-s__form .choices__list--dropdown {
  background: #f0f0f0 !important;
}

.main-s__form .choices__list--dropdown .choices__item-c[data-value="placeholder"] {
  display: none;
}

.main-s__form .choices__list--dropdown .choices__item-c {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #150202;
  padding: 10px;
}

.main-s__form .choices[data-type*=select-one]:after {
  content: url("../img/main/choice-b.svg");
  border: none;
  margin-top: -11.5px;
  right: 24px;
}

.main-s__form .choices[data-type*=select-one].is-open::after {
  margin-top: -11.5px;
}

.main-s .choices__list-c {
  border: none;
}

.main-s__brand {
  grid-column: 1/2;
  grid-row: 1/2;
  border-top: none;
  border-left: none;
}

.main-s__model {
  grid-column: 2/3;
  grid-row: 1/2;
  border-top: none;
}

.main-s__mileage {
  border-left: none;
  border-bottom: none;
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 35px;
  width: 100%;
}

.main-s__mileage h4 {
  grid-column: 1/3;
}

.main-s__mileage .choices {
  width: 100% !important;
}

.main-s__year {
  border-bottom: none;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-gap: 0 35px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.main-s__year h4 {
  grid-column: 1/3;
}

.main-s__year .choices {
  width: 100% !important;
}

.main-s__search {
  border-bottom: none;
  border-top: none;
  display: grid;
  place-items: center;
  grid-column: 3/4;
  grid-row: 1/3;
  max-width: 9%;
}

.auction {
  background: #343434;
  color: white;
}

.benefits.benefits-steps {
  overflow: hidden;
}

.benefits.benefits-steps .benefits__item-content {
  padding-left: 0;
  padding-right: 0;
}

.benefits.benefits-steps .buy-car__step {
  border: none !important;
  width: 100% !important;
  grid-template-columns: 24% 1fr;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.benefits.benefits-steps .buy-car__content {
  width: 100% !important;
}

.benefits.benefits-steps .benefits__list {
  margin-bottom: 0;
}

.popular-models {
  padding: 60px 10px 0px;
  margin-bottom: 40px;
}

.popular-models__list {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  scrollbar-color: #333 transparent;
}

.popular-models__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.popular-models__col-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
  border-bottom: 3px solid #bc002d;
}

.popular-models__col-title img {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
}

.popular-models__col-item {
  font-size: 21px;
}

.popular-models__btn {
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 26px;
  padding: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-left: auto;
  color: white !important;
}

.popular-models__btn svg path {
  color: white;
  fill: white;
}

.popular-models a {
  color: inherit;
  text-decoration: none;
}

.main-s__form .choices__list--dropdown .choices__item-c {
  font-size: 10px;
}

.main-s .choices__list--dropdown {
  max-height: 20rem;
  overflow: auto;
  scrollbar-width: thin;
}

@media screen and (min-width: 414px) {
  .main-s .m-feedback form input {
    width: 350px;
    margin: 0 0 16px;
    padding: 16px 20px;
  }
}

@media screen and (min-width: 768px) {
  .main-s .m-feedback form input {
    width: 310px;
    margin: 0 0 18px;
    padding: 16px 20px;
  }
}

@media screen and (min-width: 1440px) {
  .main-s .m-feedback form input {
    width: 268px;
    margin-bottom: 31px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 1440px) {
  .main-s__title {
    width: 600px;
    grid-column: 1/3;
  }

  .main-s__k-more {
    margin-top: 47px;
  }

  .main-s__soc {
    grid-column: 3/4;
  }

  .main-s__form {
    grid-column: 1/4;
    grid-row: 2/3;
    max-width: 100%;
    display: grid;
  }

  .main-s__form > * {
    border: 1px solid #150202;
  }

  .main-s__search {
    max-width: unset;
  }
}

@media screen and (max-width: 1024px) {
  .main-s {
    padding-top: 100px;
  }

  .main-s .m-feedback {
    display: block;
  }

  .main-s__k-more {
    display: none;
  }

  .main-s__soc {
    display: none;
  }

  .main-s__form .choices {
    width: 215px;
  }
}

@media screen and (max-width: 768px) {
  .main-s .container {
    padding-bottom: 274px;
  }

  .main-s__scroll {
    width: 3px;
  }

  .main-s__scroll svg {
    width: 100%;
    height: 100px;
  }

  .main-s__form {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
  }

  .main-s__form > * {
    padding: 20px 25px;
  }

  .main-s__form .choices[data-type*=select-one]:after {
    content: url("../img/main/choice-b.svg");
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-s {
    padding-top: 80px;
  }

  .main-s .m-feedback {
    width: 280px;
    margin-top: 60px;
  }

  .main-s .container {
    padding-bottom: 90px;
    margin-bottom: 350px;
  }

  .main-s__title {
    min-width: unset;
    width: 100%;
  }

  .main-s__title h1 {
    letter-spacing: .05em;
  }

  .main-s__scroll {
    width: 5px;
    height: 140px;
  }

  .main-s__scroll svg {
    height: 100%;
  }

  .main-s__form {
    -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    color: #150202;
    width: 96vw;
    margin: 0 2vw;
    bottom: -305px;
    grid-gap: 30px;
    padding: 30px 24px;
  }

  .main-s__form > * {
    padding: 0px;
    border: none;
  }

  .main-s__form .choices {
    width: 100%;
  }

  .main-s__form .choices__inner {
    border-bottom: 1px solid #150202 !important;
    font-size: 16px;
  }

  .main-s__mileage {
    display: none;
  }

  .main-s__search {
    background: #bc002d;
    padding: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 12px;
  }

  .main-s__search::after {
    content: "поиск авто";
    display: block;
    color: white;
  }
}

@media screen and (max-width: 414px) {
  .main-s .m-feedback form input {
    width: 300px;
    padding: 16px 20px;
    margin: 0 0 16px;
  }

  .main-s .container {
    margin-bottom: 375px;
  }

  .main-s__title h1 {
    width: 235px;
  }

  .main-s__desc {
    font-size: 12px;
    line-height: 14px;
  }

  .main-s__form {
    bottom: -330px;
  }

  .popular-models__col-item {
    font-size: 18px;
  }
}

@media screen and (max-width: 360px) {
  .main-s {
    padding-top: 60px;
  }

  .main-s .m-feedback {
    margin-top: 30px;
  }

  .main-s .container {
    grid-gap: 18px;
    margin-bottom: 355px;
  }

  .main-s__title h1 {
    width: 100%;
  }

  .main-s__scroll {
    height: 90px;
  }

  .main-s__form {
    bottom: -310px;
  }
}
@supports (-webkit-appearance:none){
.main-s{background-image:url("../img/main/bg.webp")}
}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
