@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.vis {
  display: grid !important;
}

.modal-city .modal__wrap {
  padding-bottom: 0;
}

.modal-city-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 600px;
  height: 80vh;
  overflow: scroll;
}

.modal-city a {
  color: #150202;
  text-decoration: none;
  font-size: 13px;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #150202;
  margin-bottom: 20px;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.modal__header-city {
  margin-bottom: 15px;
}

.modal__header h3 {
  margin-bottom: 15px !important;
}

.modal,
.modal-city {
  z-index: 10000;
  display: none;
  position: fixed;
  background: rgba(52, 52, 52, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal__wrap,
.modal-city__wrap {
  padding-bottom: 100px;
  z-index: 100;
  width: 710px;
  place-self: center;
}

.modal__close,
.modal-city__close {
  right: 22px;
  top: 22px;
  position: absolute;
  cursor: pointer;
}

.modal__content,
.modal-city__content {
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  background: white;
  position: relative;
}

.modal__content .feedback,
.modal-city__content .feedback {
  background: white;
  padding-top: 0;
  padding-bottom: 40px;
}

.modal__content .feedback .h4,
.modal-city__content .feedback .h4 {
  margin-bottom: 15px;
  text-align: center;
}

.modal__content .feedback .red-btn,
.modal__content .feedback .btn,
.modal-city__content .feedback .red-btn,
.modal-city__content .feedback .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 5px;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.modal__content .feedback__fields,
.modal-city__content .feedback__fields {
  grid-gap: 20px;
}

.modal__content .feedback .feedback__agreement label,
.modal-city__content .feedback .feedback__agreement label {
  margin-bottom: 22px;
}

.modal__content .feedback h3,
.modal-city__content .feedback h3 {
  padding-bottom: 13px;
  margin-bottom: 25px;
  border-bottom: 1px solid #150202;
}

.modal__content .feedback p,
.modal-city__content .feedback p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.modal__content .feedback > *,
.modal-city__content .feedback > * {
  color: black;
}

.modal__content .feedback .feedback__fields .input-wrapper,
.modal-city__content .feedback .feedback__fields .input-wrapper {
  position: relative;
}

.modal__content .feedback .feedback__fields .input-wrapper::after,
.modal-city__content .feedback .feedback__fields .input-wrapper::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 9px;
  background: #bc002d;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.modal__content .feedback .feedback__fields input,
.modal-city__content .feedback .feedback__fields input {
  border: 1px solid black;
  color: black;
  margin-bottom: 0;
  border-radius: 5px;
}

.modal__content .feedback .feedback__fields input::-moz-placeholder,
.modal-city__content .feedback .feedback__fields input::-moz-placeholder {
  color: black !important;
}

.modal__content .feedback .feedback__fields input::-webkit-input-placeholder,
.modal-city__content .feedback .feedback__fields input::-webkit-input-placeholder {
  color: black !important;
}

.modal__content .contacts__info,
.modal-city__content .contacts__info {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.modal__content .contacts__connect,
.modal-city__content .contacts__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 15px;
  border-right: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 50px;
}

.modal__content .contacts__managers,
.modal-city__content .contacts__managers {
  margin-top: 15px;
  padding-top: 15px;
}

.modal__content .contacts__managers-title,
.modal-city__content .contacts__managers-title {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.04em;
  margin-bottom: 14px;
}

.modal__content .contacts__managers-list,
.modal-city__content .contacts__managers-list {
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__content .contacts__manager-number,
.modal-city__content .contacts__manager-number {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1440px) {
  .modal__content .feedback h3,
  .modal-city__content .feedback h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.045em;
  }
}

@media screen and (max-width: 1024px) {
  .modal__wrap,
  .modal-city__wrap {
    width: 738px;
  }
}

@media screen and (max-width: 768px) {
  .modal__wrap,
  .modal-city__wrap {
    width: 712px;
  }

  .modal__content,
  .modal-city__content {
    padding: 40px 28px;
  }

  .modal__content .contacts__managers-title,
  .modal-city__content .contacts__managers-title {
    font-size: 14px;
    line-height: 17px;
  }

  .modal__content .contacts__managers-list,
  .modal-city__content .contacts__managers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .modal__content .contacts__manager-number,
  .modal-city__content .contacts__manager-number {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal__header {
    gap: 20px;
  }

  .modal,
  .modal-city {
    overflow-y: scroll;
  }

  .modal__wrap,
  .modal-city__wrap {
    width: 94vw;
    position: absolute;
    top: 1rem;
  }

  .modal__content .feedback .feedback__agreement,
  .modal-city__content .feedback .feedback__agreement {
    margin-left: 66px;
    margin-bottom: 7px;
  }

  .modal__content .feedback p,
  .modal-city__content .feedback p {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
    max-width: 100%;
    text-align: left;
  }

  .modal__content .feedback .feedback__fields,
  .modal-city__content .feedback .feedback__fields {
    margin-bottom: 20px;
  }

  .modal__content .contacts__info,
  .modal-city__content .contacts__info {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 32px;
  }

  .modal__content .contacts__connect,
  .modal-city__content .contacts__connect {
    grid-column: 1/2;
    grid-row: 1/2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    grid-gap: 24px;
    margin-top: 20px;
  }

  .modal__content .contacts__managers,
  .modal-city__content .contacts__managers {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 32px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
    padding-top: 0%;
    margin-top: 20px;
  }

  .modal__content .contacts__mes a,
  .modal-city__content .contacts__mes a {
    display: block;
    width: 28px;
    height: 28px;
  }

  .modal__content .contacts__mes a svg,
  .modal-city__content .contacts__mes a svg {
    width: 100%;
    height: 100%;
  }

  .modal__content .contacts__manager,
  .modal-city__content .contacts__manager {
    place-self: start;
  }

  .modal__content .contacts__manager-number,
  .modal-city__content .contacts__manager-number {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

@media screen and (max-width: 414px) {
  .modal__content,
  .modal-city__content {
    padding: 32px 20px;
  }

  .modal__content .feedback .red-btn,
  .modal__content .feedback .btn,
  .modal-city__content .feedback .red-btn,
  .modal-city__content .feedback .btn {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  .modal__content .feedback .feedback__agreement,
  .modal-city__content .feedback .feedback__agreement {
    margin-left: 0;
  }

  .modal__content .feedback .feedback__fields input,
  .modal-city__content .feedback .feedback__fields input {
    width: 100%;
  }

  .modal__content .feedback .feedback__fields input,
  .modal-city__content .feedback .feedback__fields input {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .modal__content .contacts__info,
  .modal-city__content .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
  }

  .modal__content .contacts__connect,
  .modal-city__content .contacts__connect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 16px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 12px;
    margin-top: 0;
    padding-top: 12px;
  }

  .modal__content .contacts__managers,
  .modal-city__content .contacts__managers {
    border-left: 0;
    padding-left: 0;
  }

  .modal__content .contacts__managers-list,
  .modal-city__content .contacts__managers-list {
    grid-gap: 18px;
  }
}

@media screen and (max-width: 360px) {
  .modal__content,
  .modal-city__content {
    padding: 30px 20px;
  }

  .modal__content .feedback,
  .modal-city__content .feedback {
    padding-bottom: 30px;
  }

  .modal__content .feedback .feedback__agreement label,
  .modal-city__content .feedback .feedback__agreement label {
    margin-bottom: 20px;
  }

  .modal__content .feedback h3,
  .modal-city__content .feedback h3 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.045em;
  }

  .modal__content .feedback p,
  .modal-city__content .feedback p {
    font-size: 12px;
    line-height: 18px;
    color: #b9b9b9;
  }

  .modal__content .contacts__managers-title,
  .modal-city__content .contacts__managers-title {
    font-size: 12px;
    line-height: 15px;
  }

  .modal__content .contacts__manager-name,
  .modal-city__content .contacts__manager-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
