@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.open-review__main > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.open-review__main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.open-review__main-right > p {
  padding: 20px 0 0 10px;
  background-image: url("../img/open-review/quote-icon.webp");
  background-position: top left;
  background-repeat: no-repeat;
}

@media screen and (min-width: 0) {
  .open-review__main > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .open-review__main-right > p {
    font-size: 16px;
    line-height: 160%;
    max-width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .open-review__main-right > p {
    max-width: 425px;
  }
}

@media screen and (min-width: 1440px) {
  .open-review__main > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .open-review__main-right > p {
    max-width: 377px;
  }
}

@media screen and (min-width: 1600px) {
  .open-review__main-right > p {
    max-width: 425px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}
