@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

/* Общие стили */

picture {
  display: grid;
}

picture img {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.choices__list--dropdown {
  max-height: 10rem;
  overflow-y: auto !important;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body * {
  scrollbar-color: #eee rgba(0, 0, 0, 0);
}

body *::-webkit-scrollbar {
  height: 24px;
  background-color: #f0f0f0;
}

body *::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
          box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  max-width: 96vw;
  width: 1345px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: Roboto, sans-serif;
  color: #150202;
}

.hidden {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 button,
.btn {
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
}

h1 {
  font-weight: bold;
  letter-spacing: 0.045em;
}

h2,
.h2 {
  margin-bottom: 47px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.045em;
}

h3,
.h3 {
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 0.11em;
}

h4 {
  font-weight: 700;
  letter-spacing: 0.045em;
}

ul {
  list-style: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 0.04rem;
}

.red-btn {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #bc002d;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.breadcrumbs {
  display: none;
  margin: 40px 0 30px;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li {
  position: relative;
  color: #bc002d;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
}

.breadcrumbs ul li::after {
  content: "/";
  margin: 0 9px;
  color: inherit;
  font-size: inherit;
}

.breadcrumbs ul li:last-child > a {
  color: #b5b5b5;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li > a {
  color: #bc002d;
  text-decoration: none;
}

.breadcrumbs ul li > a:hover {
  text-decoration: underline;
}

.breadcrumbs-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 14px;
  padding: 18px 24px;
  margin: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.page-title {
  border-bottom: 1px solid #150202;
  width: 100%;
  text-align: left;
  padding-bottom: 21px;
}

@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 38px;
    line-height: 130%;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  .breadcrumbs {
    display: block;
  }

  .breadcrumbs-tablet {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  h2,
  .h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 1600px) {
  h3,
  .h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }

  h3,
  .h3 {
    font-size: 18px;
    letter-spacing: 0.04em;
  }

  h4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 88.62vw;
  }

  h1 {
    letter-spacing: 0.01em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 85.8vw;
  }

  h1 {
    font-size: 36px;
    line-height: 120%;
  }

  h2,
  .h2 {
    margin: 0 auto 47px;
    font-size: 28px;
  }

  h4 {
    font-size: 15px;
  }

  .page-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container {
    width: 86vw;
  }

  h1 {
    font-size: 31px;
  }

  h3,
  .h3 {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.045em;
    margin-bottom: 19px;
  }

  .page-title {
    padding-bottom: 13px;
    font-size: 28px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    width: 84.5vw;
  }

  h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  h3,
  .h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 360px) and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
