@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews .slick-dots {
  bottom: -45px;
}

.reviews .slick-dots button:before {
  font-size: 10px;
}

.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 35px;
}

.reviews .slick-dotted {
  margin-bottom: 45px;
}

.reviews__items {
  width: 1040px;
  position: relative;
}

.reviews__items::before {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 100%;
  background: white;
  content: "";
  z-index: 1;
}

.reviews__item-wrap {
  padding: 10px 17px;
  display: grid;
  place-items: center;
}

.reviews__item {
  width: 310px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.reviews__item picture {
  display: block;
  width: 100%;
  overflow: hidden;
}

.reviews__item picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__header {
  margin: 26px 30px 0;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.reviews__name {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 19px;
}

.reviews__city {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.045em;
  color: #b9b9b9;
}

.reviews__date {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.045em;
  place-self: center end;
}

.reviews__main {
  padding: 15px 30px;
  height: 9.8em;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  overflow-y: scroll;
}

.reviews .red-btn {
  padding: 15px 0;
  margin: 0 30px;
}

.reviews__watch-all {
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  display: grid;
  width: 80px;
  height: 503px;
  margin-top: 7px;
  position: relative;
}

.reviews__vertical-text {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  position: absolute;
  top: 48%;
  left: -10px;
}

.youtube h2 {
  text-align: left;
}

.youtube-slider .slide {
  position: relative;
}

.youtube-slider .slide:hover .filter {
  opacity: 1;
}

.youtube-slider .slide .filter {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/autoauction-online/play-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.youtube .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
}

.youtube .arrow img {
  display: block;
}

.youtube .arrow-prev {
  z-index: 1000;
  position: absolute;
}

.youtube .arrow-next {
  z-index: 1000;
  position: absolute;
  right: 20px;
}

@media screen and (min-width: 0) {
  .reviews .container {
    width: 100vw;
  }

  .youtube h2 {
    margin-left: 30px;
  }

  .youtube h2 > svg {
    width: 32px;
    margin-bottom: -7px;
  }

  .youtube-slider .slide img {
    width: 270px;
    height: 160px;
  }

  .youtube-slider .slide .filter {
    width: 270px;
    height: 160px;
  }
}

@media screen and (min-width: 414px) {
  .reviews .container {
    width: 100vw;
  }

  .youtube {
    padding: 64px 0;
  }

  .youtube > .container {
    width: 100vw;
  }

  .youtube h2 {
    margin-left: 32px;
  }

  .youtube-slider {
    margin-left: 32px;
  }

  .youtube-slider .slide img {
    width: 300px;
    height: 180px;
  }

  .youtube-slider .slide .filter {
    width: 300px;
    height: 180px;
  }
}

@media screen and (min-width: 568px) {
  .youtube h2 {
    margin-left: 40px;
  }

  .youtube-slider {
    margin-left: 40px;
  }

  .youtube-slider .slide img {
    width: 340px;
    height: 204px;
  }

  .youtube-slider .slide .filter {
    width: 340px;
    height: 204px;
  }
}

@media screen and (min-width: 768px) {
  .reviews .container {
    width: 100vw;
  }

  .youtube {
    padding: 80px 0;
  }

  .youtube > .container {
    width: 100vw;
  }

  .youtube h2 {
    margin-left: 56px;
  }

  .youtube h2 > svg {
    width: 47px;
    margin-bottom: -7px;
  }

  .youtube-slider {
    margin-left: 56px;
  }

  .youtube-slider .slide img {
    width: 400px;
    height: 240px;
  }

  .youtube-slider .slide .filter {
    width: 400px;
    height: 240px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews .container {
    width: 1200px;
  }

  .youtube > .container {
    width: 1200px;
  }

  .youtube h2 {
    margin-left: 0;
  }

  .youtube-slider {
    margin-left: 0;
  }

  .youtube-slider .slide img {
    width: 376px;
    height: 212px;
  }

  .youtube-slider .slide .filter {
    width: 376px;
    height: 212px;
  }

  .youtube .arrow {
    top: -68px;
  }

  .youtube .arrow > img {
    width: 68px;
    height: 15px;
  }

  .youtube .arrow-prev {
    right: 103px;
  }
}

@media screen and (min-width: 1600px) {
  .reviews .container {
    width: 1345px;
  }

  .youtube > .container {
    width: 1345px;
  }

  .youtube-slider .slide img {
    width: 425px;
    height: 240px;
  }

  .youtube-slider .slide .filter {
    width: 425px;
    height: 240px;
  }

  .youtube .arrow {
    top: -77px;
  }

  .youtube .arrow > img {
    width: 80px;
  }

  .youtube .arrow-prev {
    right: 120px;
  }
}

@media screen and (max-width: 1440px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .reviews .container {
    grid-gap: 9px;
  }

  .reviews__items {
    width: 670px;
  }

  .reviews__item-wrap {
    padding: 10px 12px;
  }

  .reviews__item {
    padding-bottom: 20px;
  }

  .reviews__item picture {
    height: 180px;
    position: relative;
  }

  .reviews__item picture img {
    position: absolute;
    bottom: 0;
  }

  .reviews__item {
    -webkit-box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.2);
  }

  .reviews__header {
    margin: 20px 20px 0;
  }

  .reviews__main {
    padding: 15px 20px;
    height: 6.5em;
    font-size: 14px;
  }

  .reviews .red-btn {
    margin: 0 20px;
  }

  .reviews__watch-all {
    height: 439px;
  }
}

@media screen and (max-width: 768px) {
  .reviews__items {
    width: 100vw;
  }

  .reviews__watch-all {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .reviews__item {
    width: 300px;
  }

  .reviews__item picture {
    height: 160px;
  }

  .youtube {
    padding: 60px 0;
  }

  .youtube > .container {
    width: 100vw;
  }

  .youtube-slider {
    margin-left: 30px;
  }
}

@media screen and (max-width: 360px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .reviews__item {
    width: 260px;
  }

  .reviews__header {
    padding-bottom: 11px;
  }

  .reviews__name {
    font-size: 17px;
  }

  .reviews__main {
    font-size: 14px;
    height: 7.5em;
  }
}
@supports (-webkit-appearance:none){
.youtube-slider .slide .filter{background-image:url("../img/autoauction-online/play-icon.svg")}
}

 @media screen and (min-width: 0){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
