@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Экраны */

/*$mobileS: 400px
 $mobileM: 554px
 $mobileL: 754px
 $tabletS: 1010px
 $tabletM: 1426px
 $desktopS: 1586px
 $desktopM: 1906px
 $desktopL: 1920px*/

/* Цвета */

.border-none {
  border: none !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #4caf5030;
  border: 2px solid black !important;
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.video-reviews {
  margin: 50px 0;
  position: relative;
}

.video-reviews .arrow {
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.video-reviews .arrow.arrow-prev {
  left: -20px;
}

.video-reviews .arrow.arrow-next {
  right: -20px;
}

.video-reviews-item {
  width: 320px;
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 6px solid #bc002d;
  text-decoration: none;
}

.video-reviews-item-wrapper {
  padding: 0 20px;
}

.video-reviews-item__photo {
  width: 100%;
  position: relative;
}

.video-reviews-item__photo img,
.video-reviews-item__photo picture {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-reviews-item__photo::after {
  display: block;
  content: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='white'/%3E%3Cpath d='M9 17.4L17.4 12L9 6.6V17.4ZM12 24C10.34 24 8.78 23.6848 7.32 23.0544C5.86 22.4248 4.59 21.57 3.51 20.49C2.43 19.41 1.5752 18.14 0.9456 16.68C0.3152 15.22 0 13.66 0 12C0 10.34 0.3152 8.78 0.9456 7.32C1.5752 5.86 2.43 4.59 3.51 3.51C4.59 2.43 5.86 1.5748 7.32 0.9444C8.78 0.3148 10.34 0 12 0C13.66 0 15.22 0.3148 16.68 0.9444C18.14 1.5748 19.41 2.43 20.49 3.51C21.57 4.59 22.4248 5.86 23.0544 7.32C23.6848 8.78 24 10.34 24 12C24 13.66 23.6848 15.22 23.0544 16.68C22.4248 18.14 21.57 19.41 20.49 20.49C19.41 21.57 18.14 22.4248 16.68 23.0544C15.22 23.6848 13.66 24 12 24Z' fill='%23BC002D'/%3E%3C/svg%3E");
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 97;
  display: grid;
  place-items: center;
}

.video-reviews-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background: #1a1a1a;
  padding: 5px 12px 5px 14px;
}

.video-reviews-item__youtube img {
  width: 80px;
}

.video-reviews-item__text {
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.video-banner {
  margin-top: 50px;
}

.video-banner__content {
  border: 10px solid #150202;
  border-bottom: 10px solid #bc002d;
  border-left: 10px solid #bc002d;
  background: #150202;
  width: 100%;
  height: 740px;
  max-height: 70vh;
}

.video-banner__content iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1440px) {
  main {
    padding-top: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .video-banner__content {
    height: 52vw;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 56px;
  }

  .video-reviews-item__photo img,
  .video-reviews-item__photo picture {
    height: 350px;
  }
}

@media screen and (max-width: 568px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}
